.page {
  position: relative;
  min-width: var(--page-width);
}
.page-inner {
  position: relative;
  width: var(--page-width);
  margin-left: auto;
  margin-right: auto;
}
.page-head {
  position: relative;
  background-color: #2d71c4;
  color: #fff;
  .head-inner {
    padding: 4.9rem 0;
  }
  .page-logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .head-search {
    margin-left: 55.5rem;
    width: 69.2rem;
    height: 6.2rem;
    padding: 0 3.1rem;
    border-radius: 3.1rem;
    background-color: #fff;
    color: var(--strong-txt-color);
  }
  .head-info {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
.page-logo {
  a,
  span {
    display: block;
    width: 35.9rem;
    height: 7rem;
    @include text-blind;
    @include bg-etc;
    background-image: url(../images/common/page-logo.png);
  }
}
.page-gnb-wrap {
  border-top: 1px solid #427fca;
}
.page-gnb {
  display: flex;
  padding: 0 8rem;
  justify-content: center;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25rem;
    height: 8.1rem;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
  }
}
.page-gnb-btn {
  display: flex;
  align-items: center;
  width: 8rem;
  height: 8rem;
  padding: 2.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #084185;
  i,
  i:before,
  i:after {
    position: relative;
    width: 100%;
    display: block;
    height: 0.3rem;
    background-color: #fff;
  }
  i:before,
  i:after {
    position: absolute;
    left: 0;
    content: '';
  }
  i:before {
    bottom: 100%;
    margin-bottom: 0.6rem;
  }
  i:after {
    top: 100%;
    margin-top: 0.6rem;
  }
}
.page-body {
  position: relative;
  padding-top: 0.1rem;
  .page-inner {
    padding-left: 34rem;
    padding-right: 18rem;
  }
}
.page-contents {
  position: relative;
  min-height: 80vh;
}
.page-lnb-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 28rem;
  height: 100%;
  border: 1px solid #e5e5e5;
  border-width: 0 1px;
}
.page-lnb {
  position: sticky;
  top: 0.1rem;
  h2 {
    position: relative;
    margin: 0 -1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--primary-color);
    height: 12rem;
    background-color: #4fe6af;
    color: #fff;
    font-size: 3rem;
  }
}
.page-quick-wrap {
  position: absolute;
  top: 0;
  right: 0;
  width: 12rem;
  padding-top: 12rem;
  height: 100%;
}
.page-quick {
  position: sticky;
  top: 0.1rem;
  border: 1px solid #dcdcdc;
  h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    color: #464ba5;
    padding: 2.5rem 0;
  }
}
.page-title-wrap {
  display: flex;
  align-items: center;
  height: 12rem;
  .page-title {
    h2 {
      font-size: 3rem;
      font-weight: 500;
    }
  }
  .breadcrumb {
    margin-left: auto;
  }
}
.page-footer {
  background-color: #555759;
  font-size: 1.7rem;
  color: #fff;
  .foot-inner {
    display: flex;
    align-items: center;
    padding: 5rem;
  }
  .nh-logo {
    background-image: url(../images/common/nh-logo-white.png);
  }
  .foot-info {
    flex: 1 1 auto;
    display: flex;
    margin-left: 4.8rem;
    li {
      + li {
        margin-left: 2.6rem;
      }
    }
  }
  .foot-link {
    width: 24rem;
  }
  .foot-link-btn {
    width: 100%;
    height: 6rem;
    padding: 0 5rem 0 3rem;
    font-size: 1.7rem;
    background-color: #fff;
    color: #000;
  }
}

.nh-logo {
  width: 19.1rem;
  height: 3rem;
  @include text-blind;
  @include bg-etc;
  background-image: url(../images/common/nh-logo.png);
}
