//layout mixin
@mixin depth2($type: 'gnb') {
  $depth-line: var(--gnb-line-color2);
  $depth-active-color: var(--gnb-active-txt-color);
  @if ($type == 'lnb') {
    $depth-line: var(--lnb-line-color);
    $depth-active-color: var(--lnb-active-txt-color);
  }

  > li {
    border-bottom: 0.1rem solid $depth-line;
    > a {
      position: relative;
      display: block;
      font-weight: 500;
      @if ($type == 'gnb') {
        font-size: 1.6rem;
        line-height: 2.4rem;
        padding: 1.3rem 1.2rem;
      } @else if($type == 'lnb') {
        font-size: 1.7rem;
        padding: 1.8rem 6rem 1.8rem 1.1rem;
      }

      &:hover,
      &:focus {
        font-weight: bold;
      }
      &.toggle {
        &:after {
          @include ico-after-apend(1.6rem, 1rem);
          position: absolute;
          right: 0.9rem;
          top: 50%;
          margin-top: -0.5rem;
          @include ico-gnb-arrow;
          @include bg-etc;
          transition: 0.3s ease-in-out;
        }
        &.open {
          &:after {
            @include rotateZ(180);
          }
        }
      }
    }
    &.active {
      > a {
        font-weight: bold;
        color: $depth-active-color;
      }
    }
  }
}
@mixin depth3($type: 'gnb') {
  @if ($type == 'gnb') {
    border-top: 0.1rem solid var(--gnb-line-color2);
  } @else if($type == 'lnb') {
    border-top: 0.3rem solid var(--primary-color);
  }
  background-color: #f9f9f9;
  padding: 1.6rem;
  > li {
    position: relative;
    padding-left: 1.7rem;
    &:before {
      @include ico-after-apend(1rem, 0.3rem);
      position: absolute;
      left: 0;
      top: 1rem;
      background: #a9a9a9;
    }
    + li {
      margin-top: 0.8rem;
    }
    > a {
      font-size: 1.6rem;
      &:hover,
      &:focus {
        font-weight: bold;
      }
    }
    &.active {
      &:before {
        background-color: #000;
      }
      > a {
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }
}

.skip-navi {
  z-index: 99999;
  a {
    display: block;
    position: absolute;
    top: -9999px;
    width: 100%;
    line-height: 4.5rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    text-decoration: underline;
    background-color: #333;
    z-index: 3000;
    &:focus,
    &:active {
      top: 0;
    }
  }
}
.page {
  position: relative;
  min-width: var(--page-width);
}
.page-inner {
  position: relative;
  width: var(--page-width);
  margin-left: auto;
  margin-right: auto;
}
.page-head {
  position: relative;
  background-color: #2d71c4;
  color: #fff;
  .head-inner {
    padding: 4.9rem 0;
  }
  .page-logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .head-search {
    margin-left: 55.5rem;
    width: 69.2rem;
    height: 6.2rem;
    padding: 0 3.1rem;
    border-radius: 3.1rem;
    background-color: #fff;
    color: var(--base-txt-color);
  }
  .head-info {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
.page-logo {
  a,
  span {
    display: block;
    width: 19.6rem;
    height: 8.7rem;
    @include text-blind;
    @include bg-etc;
    background-image: url(../images/common/page-logo.png);
  }
}
.page-gnb-wrap {
  border-top: 0.1rem solid #427fca;
}
.page-gnb {
  position: relative;
  display: flex;
  padding: 0 8rem;
  justify-content: center;
  z-index: 10;
  > li {
    position: relative;
    top: -0.1rem;
    padding-bottom: 0.3rem;
    > a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24rem;
      height: 7.9rem;
      font-weight: 500;
      font-size: 2rem;
      text-align: center;
    }
    &:hover > a,
    & > a:focus {
      background-color: #fff;
      color: var(--primary-color);
    }
    &:hover,
    &.focus {
      .depth2 {
        display: block;
      }
    }
  }
  .depth2 {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    padding: 0 1.2rem 3rem;
    background: #fff;
    color: var(--base-txt-color);
    border: 0.1rem solid var(--gnb-line-color);
    border-radius: 0 0 var(--gnb-radius) var(--gnb-radius);
    @include depth2;
  }
  .depth3 {
    @include depth3;
  }
}
.page-gnb-btn {
  display: flex;
  align-items: center;
  width: 8rem;
  height: 8rem;
  padding: 2.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #084185;
  i,
  i:before,
  i:after {
    position: relative;
    width: 100%;
    display: block;
    height: 0.3rem;
    background-color: #fff;
  }
  i:before,
  i:after {
    position: absolute;
    left: 0;
    content: '';
  }
  i:before {
    bottom: 100%;
    margin-bottom: 0.6rem;
  }
  i:after {
    top: 100%;
    margin-top: 0.6rem;
  }
}
.page-body {
  position: relative;
  padding-top: var(--page-body-padding-top);
  .page-inner {
    padding-left: calc(var(--page-body-padding-side) + var(--lnb-width));
    padding-right: calc(var(--page-body-padding-side) + var(--quick-width));
  }
}
.page-contents {
  position: relative;
  //min-height: -vh(100, 42.3rem, true);
  //min-height: calc(100vh - 42.3rem);
  min-height: calc(100vh - 42.9rem);
}
.page-lnb-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--lnb-width);
  height: 100%;
}
.page-lnb {
  position: sticky;
  top: var(--page-body-padding-top);
  border-top-width: 0;
  .page-lnb-title {
    position: relative;
    margin: 0 -0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--primary-color);
    height: var(--page-title-height);
    background-color: var(--primary-color);
    color: #fff;
    border-radius: var(--lnb-radius) var(--lnb-radius) 0 0;
    h2 {
      font-size: 3rem;
      font-weight: normal;
    }
  }

  .page-lnb-menu {
    border: 0.1rem solid var(--lnb-line-color);
    padding: 0 1.9rem 5rem;
    border-radius: 0 0 var(--lnb-radius) var(--lnb-radius);
    @include depth2('lnb');
  }
  .depth3 {
    @include depth3('lnb');
  }
}
.page-quick-wrap {
  position: absolute;
  top: 0;
  right: 0;
  width: var(--quick-width);
  height: 100%;
}
.page-quick {
  position: sticky;
  top: var(--page-body-padding-top);
  border: 0.1rem solid var(--quick-line-color);
  border-radius: var(--quick-radius);
  text-align: center;
  h2 {
    text-align: center;
    font-size: 2rem;
    line-height: 2.9rem;
    font-weight: 900;
    color: #464ba5;
    padding: 2.2rem 0;
  }
  .quick-used-info {
    margin: 0 -0.1rem;
    background: #cdeffe;
    padding: 1.4rem 1.5rem 1.7rem;
  }
  .quick-list {
    a {
      display: block;
    }
  }
}
@include class-begins('i-quick-') {
  @include icon-default(6rem, 5.4rem);
}
$quickIcon: (use, dev, conf, wat, map);
@each $icon in $quickIcon {
  .i-quick-#{$icon} {
    background-image: url(../images/common/ico-quick-#{$icon}.png);
  }
}

.page-footer {
  background-color: #f9f9f9;
  font-size: 1.7rem;
  .foot-inner {
    display: flex;
    align-items: center;
    padding: 5rem calc(var(--page-body-padding-side) + var(--quick-width)) 5rem 0;
  }
  .nh-logo {
    margin-left: 1.1rem;
  }
  .foot-info {
    flex: 1 1 auto;
    display: flex;
    margin-left: 4.8rem;
    li {
      + li {
        margin-left: 2.5rem;
      }
    }
  }
  .foot-link {
    width: 38rem;
    display: flex;
  }
  .foot-link-select {
    flex: 1 1 auto;
    height: 6rem;
    border-color: #ccced0;
    border-radius: 0;
  }
  .foot-link-btn {
    display: block;
    width: 8rem;
    text-align: center;
    height: 6rem;
    border: 1px solid #ccced0;
    border-left-width: 0;
    background-color: #fff;
    font-size: 1.8rem;
  }
}

.nh-logo {
  width: 19.1rem;
  height: 3rem;
  @include text-blind;
  @include bg-etc;
  background-image: url(../images/common/nh-logo.png);
}

.page-title-wrap {
  display: flex;
  align-items: center;
  height: var(--page-title-height);
  margin-bottom: 6rem;
  border-bottom: 0.1rem solid var(--lnb-line-color);
  .page-title {
    h2 {
      font-size: 2.8rem;
    }
  }
  .breadcrumb {
    margin-left: auto;
  }
}
