@use 'sass:math';

/*popup*/
.pop-wrap {
  position: relative;
  &.pop-page {
    min-height: 100vh;
    > .pop-head {
      > .pop-head-inner {
        padding-left: $pop-page-padding-x;
        padding-right: $pop-page-padding-x;
        .tab-hill-menu {
          margin-left: -$pop-page-padding-x;
          margin-right: -$pop-page-padding-x;
          padding-left: $pop-page-padding-x;
          padding-right: $pop-page-padding-x;
        }
      }
    }
    > .pop-body {
      > .pop-body-inner {
        padding: $pop-page-padding-y $pop-page-padding-x;
      }
    }
  }
  &.ui-draggable {
    .pop-head {
      cursor: move;
    }
  }
  &.ty2 {
    background-color: $white-color;
    .pop-head {
      background-color: transparent;
      color: $base-txt-color;
      height: 67px;
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 30px;
        right: 30px;
        bottom: 0;
        height: 1px;
        background-color: $line-color5;
      }
      .pop-head-inner {
        padding: 0 30px;
      }
      .pop-close {
        margin-right: -9px;
        @include pop-close('170,170,170');
        background-size: 16px auto;
      }
    }
    .pop-body {
      background-color: transparent;
      // .pop-body-inner {
      //   padding: 24px 30px;
      // }
    }
    .pop-foot {
      background-color: transparent;
      // .pop-foot-inner {
      //   padding: 0 30px 24px;
      // }
    }
  }
}
.pop-head {
  // position: sticky;
  // top: 0;
  position: relative;
  background-color: $primary-color;
  color: $white-color;
  z-index: 10;
  .pop-head-inner {
    display: flex;
    align-items: center;
    height: $pop-head-height;
    padding: 0 $pop-padding;
    .pop-close {
      margin-right: $pop-head-close-margin;
    }
  }
  .pop-head-left {
    width: 100%;
    flex: 1 1 auto;
  }
  .pop-head-right {
    white-space: nowrap;
    flex-shrink: 0;
    margin-left: 20px;
    display: flex;
    &.full {
      width: 100%;
      flex: 1 1 auto;
    }
  }
  h1 {
    font-size: $pop-title-font-size;
    font-weight: 500;
  }
  .pop-close {
    @include pop-close('255,255,255');
  }
}

.pop-bg-close {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: auto;
}
.pop-close {
  @include text-blind;
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  overflow: hidden;
  @include bg-etc;
  @include pop-close;
}
.pop-body {
  position: relative;
  // &.next-foot {
  //   .pop-body-inner {
  //     padding-bottom: 20px;
  //   }
  // }
}
.pop-body-inner {
  padding: $pop-body-padding-y $pop-padding;
}
.pop-foot {
  // position: sticky;
  // left: 0;
  // bottom: 0;
  // width: 100%;
  position: relative;
  z-index: 10;
  &.btn-wrap {
    margin-top: 0;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: $pop-foot-padding-y;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 1) 100%);
    transition: 0.3s;
  }
  &.fixed {
    &:before {
      top: -$pop-foot-padding-y;
    }
  }
}
.pop-foot-inner {
  position: relative;
  display: flex;
  padding: 0 $pop-padding $pop-foot-padding-y;
  justify-content: center;
  &:not(.flex) {
    .button + .button {
      margin-left: 10px;
    }
  }
}
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0);
  transition: background $pop-move-time $pop-dimm-time;
  padding: $pop-padding;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  outline: none;

  &.ty-absolute {
    position: absolute;
    z-index: 50;
    overflow: hidden;
  }
  &.no-dimm {
    background: none !important;
    // backdrop-filter: none !important;
    pointer-events: none;
    .pop-bg {
      display: none !important;
    }
    .pop-wrap {
      pointer-events: auto;
      box-shadow: 0 0 7px rgba(127, 127, 127, 0.2);
      border: 1px solid rgba($white-color, 0.2);
    }
  }

  > .pop-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    > canvas {
      width: 100%;
      height: 100%;
    }
  }
  .pop-wrap {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 16px;
    // background-color: $white-color;
    transform: translate3d(0, 10%, 0);
    transition: transform $pop-move-time, opacity $pop-move-time, visibility $pop-move-time;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    html:not(.msie) & {
      max-height: 100%;
    }
    html.msie & {
      margin-bottom: $pop-padding;
    }
  }

  .pop-body {
    // overflow: hidden auto;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $white-color;
    html.msie & {
      float: left;
      width: 100%;
    }
  }

  .pop-foot {
    clear: both;
    background-color: $white-color;
  }

  &.bg-no-click {
    .pop-bg-close {
      display: none !important;
    }
  }

  &.small {
    .pop-head {
      .pop-head-inner {
        height: $pop-sm-head-height;
        padding: 0 $pop-sm-padding-x;
        .pop-close {
          margin-right: $pop-sm-head-close-margin;
        }
      }
      h1 {
        font-size: $pop-sm-title-font-size;
      }
    }
    .pop-body-inner {
      padding: $pop-sm-padding-y $pop-sm-padding-x;
    }
    .pop-foot-inner {
      padding: $pop-sm-foot-padding-y;
    }
  }

  //tooltip
  &.tooltip {
    .pop-wrap {
      width: 600px;
    }
    .pop-body {
      font-size: 14px;
      word-break: break-all;
      .pop-close {
        float: right;
        margin-left: 8px;
        margin-top: -7px;
        z-index: 10;
      }
      .tit {
        margin-bottom: 12px;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
      }
    }
  }

  //alert
  &.alert {
    z-index: 300;
    .pop-wrap {
      width: 340px;
    }
    .pop-head {
      &.hide {
        + .pop-body {
          padding-top: $pop-sm-foot-padding-y;
        }
      }
      .pop-head-left {
        display: flex;
        align-items: center;
      }
      .i-ico-warning {
        width: 24px;
        margin-right: 10px;
        @include ico-warning('255,255,255');
      }
      + .pop-body {
        .message {
          .i-ico-warning {
            display: none;
          }
        }
      }
    }
    .pop-foot {
      box-shadow: none;
      .pop-foot-inner {
        padding: 0;
        border-top: 1px solid $line-color3;
      }
      .button {
        width: 100%;
        border-radius: 0;
        &.action {
          color: $primary-color;
        }
        &.cancel {
          color: $red-color;
        }
        + .button {
          margin-left: 0;
          border-left: 1px solid $line-color3;
        }
      }
    }
    .pop-body-inner {
      display: table;
      width: 100%;
    }
    .message {
      display: table-cell;
      word-break: break-all;
      height: 120px;
      text-align: center;
      vertical-align: middle;
      > .i-ico-warning {
        width: 50px;
        flex-shrink: 0;
        margin-bottom: 20px;
      }
      > div {
        width: 100%;
      }
      .txt-list {
        margin-top: 10px;
        li + li {
          margin-top: 4px;
        }
      }
    }
  }

  //show
  &.show {
    html.msie & {
      display: block !important;
    }
    html:not(.msie) & {
      display: flex !important;
    }
    @include dimm;
    transition-delay: 0s;
    > .pop-wrap {
      transform: translate3d(0, 0, 0);
      transition-delay: $pop-dimm-time;
      visibility: visible;
      opacity: 1;
    }
    &.show-end {
      > .pop-wrap {
        transform: none;
      }
    }
  }
}

.pop-modal {
  min-width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background: $white-color;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 7px rgba(127, 127, 127, 0.2);
  .ol-overlay-container & {
    position: relative;
    margin-bottom: 35px;
  }
  .modal-head {
    position: relative;
    padding: 18px 46px 18px 20px;
    background: $primary-color;
    color: $white-color;
    h1 {
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
    }
    .pop-close {
      position: absolute;
      right: 14px;
      top: 50%;
      width: 32px;
      height: 32px;
      margin-top: -16px;
      @include pop-close('255,255,255');
    }
    &.ty2 {
      padding-left: $pop-padding;
      padding-right: 70px;
      .pop-close {
        right: 30px;
      }
    }
  }
  .modal-body {
    padding: 20px;
  }
  .map-info-list {
    overflow-y: auto;
    max-height: (53 * 5 - 1) * 1px;
  }
}

.pop-wrap {
  &.pop-ty2 {
    min-width: 1200px;
    > .pop-head {
      background-color: $white-color;
      color: $base-txt-color;
      position: sticky;
      top: 0;
      .pop-head-inner {
        padding-top: 20px;
        height: auto;
      }
    }
  }
  &.pop-ty3 {
    min-width: 1600px;
    > .pop-head {
      flex-shrink: 0;
      overflow: hidden;
      h1 {
        display: inline-flex;
        align-items: center;
      }
      .pop-head-inner {
        padding: 0;
        min-height: auto;
        height: 75px;
        align-items: stretch;
      }
      .pop-head-left,
      .pop-head-right {
        position: relative;
        display: flex;
        align-items: center;
      }
      .pop-head-left {
        width: 430px;
        flex-shrink: 0;
        justify-content: center;
        z-index: 1;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
      }
      .pop-head-right {
        width: 100%;
        margin-left: 0;
        padding-right: 20px;
      }
    }
    > .pop-body {
      // flex: 1 0 auto;
      height: calc(100vh - 75px);
    }
    .map-container {
      height: 100%;
    }
  }
  &.pop-ty4 {
    width: 100%;
    min-width: 1100px;
    .map-container {
      width: 100%;
      .map-container-right {
        width: math.div(600, 1920) * 100%;
        flex-shrink: 0;
        order: 1;
      }
      .map-container-left {
        padding: 0;
        width: 100% - math.div(600, 1920) * 100%;
        height: 100vh;
        flex: 1 1 auto;
        order: 0;
        overflow: auto;
      }
      @include media-max-width(1600) {
        & {
          display: block;
          .map-container-right {
            position: absolute;
            top: 90px;
            left: 0;
            width: 100%;
            height: 300px;
          }
          .map-container-left {
            width: 100%;
            height: auto;
          }
        }
      }
    }
    .pop-head {
      background-color: transparent;
      color: $base-txt-color;
      .pop-head-inner {
        height: 90px;
        padding-left: 20px;
        padding-right: 20px;
      }
      .pop-head-left {
        width: 395px;
        flex-shrink: 0;
      }
      .pop-head-right {
        width: 100%;
        flex: 1 1 auto;
        padding: 20px 0;
      }
      h1 {
        font-weight: bold;
        color: $primary-color;
      }
    }
    .pop-body {
      .pop-body-inner {
        padding: 0 20px 20px;
      }
      @include media-max-width(1600) {
        & {
          padding-top: 320px;
        }
      }
    }
  }
}
.pop-top-fix {
  z-index: 1;
  position: sticky;
  display: flex;
  align-items: center;
  top: 0;
  padding: 20px $pop-padding;
  background-color: $white-color;
}
.pop-main {
  .btn-today {
    position: absolute;
    left: $pop-padding;
    padding: 0;
    + .button {
      margin-left: 0;
    }
  }
  .swiper-pagination {
    display: flex;
    left: auto;
    right: 50px;
    top: 0;
    bottom: auto;
    width: auto;
    height: 50px;
    align-items: center;
  }
}
