/* @mixin */
@use 'sass:selector';
@use 'sass:math';

// selector
@mixin unify-parent($child) {
  @at-root #{selector.unify(&, $child)} {
    @content;
  }
}

@mixin media-min-width($size) {
  @media (min-width:#{$size}px) {
    @content;
  }
}
@mixin media-max-width($size) {
  @media (max-width:#{$size}px) {
    @content;
  }
}
@mixin media-min-height($size) {
  @media (min-height:#{$size}px) {
    @content;
  }
}
@mixin media-max-height($size) {
  @media (max-height:#{$size}px) {
    @content;
  }
}
@mixin sticky-supports {
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    @content;
  }
}
@mixin when-is($element-selector) {
  @at-root #{$element-selector + &} {
    @content;
  }
}

@mixin class-begins($class, $mark: false) {
  @if ($mark) {
    #{$mark}[class^='#{$class}'],
    #{$mark}[class*=' #{$class}'] {
      @content;
    }
  } @else {
    [class^='#{$class}'],
    [class*=' #{$class}'] {
      @content;
    }
  }
}

// css
@mixin text-blind($size: 0) {
  font-size: $size * 1px;
  color: transparent;
}

@mixin ellipsis($line: 0) {
  overflow: hidden;
  word-break: break-all;
  @if ($line == 0) {
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
  }
}

@mixin after-clear-fix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
@mixin bg-etc($size: null, $position: center center) {
  background-repeat: no-repeat;
  background-position: $position;
  @if $size {
    background-size: $size;
  }
}

@mixin img-fit($isAbsolute: false, $type: cover) {
  @if $isAbsolute {
    position: absolute;
    top: 0;
    left: 0;
  }
  width: 100%;
  height: 100%;
  object-fit: $type;
}

@mixin ff-pps($weight: 600) {
  font-family: 'Poppins';
  font-weight: $weight;
}

@mixin scroll-x {
  overflow-x: auto;
  overflow-y: hidden;
  //-webkit-overflow-scrolling: touch;
}
@mixin scroll-y {
  overflow-x: hidden;
  overflow-y: auto;
  //-webkit-overflow-scrolling: touch;
}
@mixin scroll-padding($padding: null) {
  &:before,
  &:after {
    content: '';
    display: block;
    flex-shrink: 0;
    @if $padding {
      width: #{$padding}px;
    } @else {
      width: $base-padding;
    }
  }
}
@mixin scroll-hide {
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin web-center($isInner: false) {
  @if ($isInner) {
    max-width: $page-width - ($base-padding * 2);
  } @else {
    // max-width: 1024px;
    max-width: $page-width;
  }
  margin-left: auto;
  margin-right: auto;
}
@mixin dimm($value: 0.5, $blur: 1) {
  background-color: rgba(0, 0, 0, $value);
  // @if ($blur > 0) {
  //   backdrop-filter: blur(#{$blur}px);
  // }
}
@mixin dimm-white($value: 0.95, $blur: 1) {
  background: rgba(255, 255, 255, $value);
  // @if ($blur > 0) {
  //   backdrop-filter: blur(#{$blur}px);
  // }
}

@mixin ios-top($key, $value: 0, $miuns: false) {
  // #{$key}: $value;
  @if ($miuns) {
    #{$key}: -iosConstant($value, true, true);
    #{$key}: -iosEnv($value, true, true);
  } @else {
    #{$key}: -iosConstant($value, true, false);
    #{$key}: -iosEnv($value, true, false);
  }
}
@mixin ios-bottom($key, $value: 0, $miuns: false) {
  // #{$key}: $value;
  @if ($miuns) {
    #{$key}: -iosConstant($value, false, true);
    #{$key}: -iosEnv($value, false, true);
  } @else {
    #{$key}: -iosConstant($value, false, false);
    #{$key}: -iosEnv($value, false, false);
  }
}
@mixin rotateZ($value) {
  transform: rotate3d(1, 0, 0, #{$value}deg);
  html.ios & {
    transform: rotate(-#{$value}deg);
  }
}
@mixin is-native {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
@mixin before-height($height: 100) {
  &:before {
    content: '';
    display: block;
    padding-top: $height * 1%;
    @content;
  }
}
// icon
@mixin icon-default($width: null, $height: null, $bg-size: null) {
  position: relative;
  display: inline-block;
  @if ($width) {
    width: $width;
  }
  @if ($height) {
    height: $height;
  }
  flex-shrink: 0;
  @if ($bg-size) {
    @include bg-etc($bg-size);
  } @else {
    @include bg-etc;
  }
  @include text-blind;
  vertical-align: middle;
}
@mixin after-append($width: null, $height: null) {
  content: '';
  display: block;
  @if ($width) {
    width: $width;
  }
  @if ($height) {
    height: $height;
  }
  @include bg-etc;
}
@mixin ico-select($color: '0,0,0') {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='13px' height='8px'%3E%3Cpath fill-rule='evenodd' fill='rgb(#{$color})' d='M12.536,1.879 L6.879,7.535 L6.500,7.157 L6.121,7.535 L0.464,1.879 L1.879,0.464 L6.500,5.086 L11.121,0.464 L12.536,1.879 Z'/%3E%3C/svg%3E");
}
@mixin ico-check($color: '0,0,0') {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20.6px' height='14.6px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(#{$color})' stroke-width='0.4px' stroke-linecap='butt' stroke-linejoin='miter' fill='rgb(#{$color})' d='M19.879,2.505 L7.893,13.366 L7.685,13.140 L7.181,13.645 L1.109,7.574 L2.524,6.160 L7.441,11.77 L18.525,1.33 L19.879,2.505 Z'/%3E%3C/svg%3E");
}

@mixin ico-gnb-arrow() {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='12px' height='6px'%3E%3Cpath fill-rule='evenodd' fill='rgb(205, 205, 205)' d='M11.998,1.41 L7.61,5.59 L6.93,5.999 L6.0,5.922 L5.906,5.999 L4.937,5.57 L0.1,1.41 L1.72,0.0 L5.999,4.11 L10.927,0.0 L11.998,1.41 Z'/%3E%3C/svg%3E");
}

@mixin ico-toggle($color: '206, 206, 206') {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='18px' height='11px'%3E%3Cpath fill-rule='evenodd' fill='rgb(#{$color})' d='M17.363,3.257 L10.757,9.863 C10.279,10.342 9.567,10.408 8.999,10.105 C8.432,10.408 7.720,10.342 7.242,9.863 L0.636,3.257 C0.50,2.671 0.50,1.721 0.636,1.136 C1.221,0.550 2.171,0.550 2.757,1.136 L8.999,7.378 L15.242,1.136 C15.828,0.550 16.778,0.550 17.363,1.136 C17.949,1.721 17.949,2.671 17.363,3.257 Z'/%3E%3C/svg%3E");
}

@mixin ico-calendar {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-inside-1_721_54973' fill='white'%3E%3Cpath d='M11.0812 19.2442H5.50563C4.04019 19.2442 3.4148 18.6181 3.4148 17.1512V9.47674H18.7476V11.5698C18.7476 11.7548 18.821 11.9323 18.9517 12.0631C19.0824 12.1939 19.2597 12.2674 19.4445 12.2674C19.6294 12.2674 19.8066 12.1939 19.9373 12.0631C20.0681 11.9323 20.1415 11.7548 20.1415 11.5698V7.38372C20.196 6.91241 20.1435 6.43485 19.9876 5.98676C19.8318 5.53867 19.5768 5.13165 19.2416 4.79615C18.9065 4.46065 18.4999 4.20536 18.0523 4.04937C17.6046 3.89337 17.1276 3.84072 16.6568 3.89535H15.4952V3.19767C15.4952 3.01264 15.4218 2.83518 15.291 2.70434C15.1603 2.5735 14.9831 2.5 14.7982 2.5C14.6134 2.5 14.4361 2.5735 14.3054 2.70434C14.1747 2.83518 14.1013 3.01264 14.1013 3.19767V3.89535H8.0611V3.19767C8.0611 3.01264 7.98767 2.83518 7.85697 2.70434C7.72626 2.5735 7.54899 2.5 7.36415 2.5C7.17931 2.5 7.00204 2.5735 6.87134 2.70434C6.74063 2.83518 6.66721 3.01264 6.66721 3.19767V3.89535H5.50563C5.03481 3.84072 4.55775 3.89337 4.11013 4.04937C3.66251 4.20536 3.25591 4.46065 2.92077 4.79615C2.58562 5.13165 2.33059 5.53867 2.17476 5.98676C2.01893 6.43485 1.96634 6.91241 2.02091 7.38372V17.1512C1.96634 17.6225 2.01893 18.1 2.17476 18.5481C2.33059 18.9962 2.58562 19.4032 2.92077 19.7387C3.25591 20.0742 3.66251 20.3295 4.11013 20.4855C4.55775 20.6415 5.03481 20.6942 5.50563 20.6395H11.0812C11.266 20.6395 11.4433 20.566 11.574 20.4352C11.7047 20.3043 11.7781 20.1269 11.7781 19.9419C11.7781 19.7568 11.7047 19.5794 11.574 19.4485C11.4433 19.3177 11.266 19.2442 11.0812 19.2442ZM5.50563 5.2907H6.66721V5.98837C6.66721 6.17341 6.74063 6.35086 6.87134 6.4817C7.00204 6.61254 7.17931 6.68605 7.36415 6.68605C7.54899 6.68605 7.72626 6.61254 7.85697 6.4817C7.98767 6.35086 8.0611 6.17341 8.0611 5.98837V5.2907H14.1013V5.98837C14.1013 6.17341 14.1747 6.35086 14.3054 6.4817C14.4361 6.61254 14.6134 6.68605 14.7982 6.68605C14.9831 6.68605 15.1603 6.61254 15.291 6.4817C15.4218 6.35086 15.4952 6.17341 15.4952 5.98837V5.2907H16.6568C18.1222 5.2907 18.7476 5.91674 18.7476 7.38372V8.08139H3.4148V7.38372C3.4148 5.91674 4.04019 5.2907 5.50563 5.2907ZM8.312 12.5C8.31199 12.6836 8.25771 12.8631 8.15601 13.0158C8.05431 13.1686 7.90972 13.2878 7.74046 13.3585C7.5712 13.4292 7.38484 13.4481 7.20484 13.413C7.02484 13.3778 6.85925 13.2902 6.72893 13.161C6.59861 13.0318 6.50938 12.8669 6.47248 12.6871C6.43558 12.5073 6.45266 12.3205 6.52157 12.1504C6.59048 11.9803 6.70814 11.8344 6.85973 11.731C7.01132 11.6277 7.19006 11.5716 7.37344 11.5698H7.38274C7.62919 11.5698 7.86555 11.6678 8.03982 11.8422C8.21409 12.0167 8.312 12.2533 8.312 12.5ZM12.029 12.5C12.029 12.6836 11.9748 12.8631 11.8731 13.0158C11.7713 13.1686 11.6268 13.2878 11.4575 13.3585C11.2882 13.4292 11.1019 13.4481 10.9219 13.413C10.7419 13.3778 10.5763 13.2902 10.446 13.161C10.3156 13.0318 10.2264 12.8669 10.1895 12.6871C10.1526 12.5073 10.1697 12.3205 10.2386 12.1504C10.3075 11.9803 10.4252 11.8344 10.5768 11.731C10.7284 11.6277 10.9071 11.5716 11.0905 11.5698H11.0998C11.3462 11.5698 11.5826 11.6678 11.7569 11.8422C11.9311 12.0167 12.029 12.2533 12.029 12.5ZM17.586 13.6628C16.713 13.6628 15.8596 13.9219 15.1337 14.4075C14.4079 14.893 13.8421 15.5831 13.508 16.3905C13.1739 17.1979 13.0865 18.0863 13.2568 18.9434C13.4272 19.8005 13.8475 20.5879 14.4649 21.2058C15.0822 21.8238 15.8687 22.2446 16.7249 22.4151C17.5811 22.5856 18.4686 22.4981 19.2752 22.1637C20.0817 21.8292 20.7711 21.2629 21.2561 20.5362C21.7411 19.8096 22 18.9553 22 18.0814C21.9985 16.91 21.533 15.7869 20.7055 14.9586C19.8781 14.1303 18.7562 13.6643 17.586 13.6628ZM17.586 21.1046C16.9887 21.1046 16.4048 20.9273 15.9081 20.5951C15.4115 20.2629 15.0244 19.7908 14.7958 19.2383C14.5672 18.6859 14.5074 18.078 14.6239 17.4916C14.7405 16.9051 15.0281 16.3664 15.4505 15.9436C15.8729 15.5208 16.411 15.2329 16.9968 15.1162C17.5827 14.9996 18.1899 15.0594 18.7418 15.2883C19.2936 15.5171 19.7653 15.9046 20.0971 16.4018C20.429 16.8989 20.6061 17.4834 20.6061 18.0814C20.6051 18.8829 20.2866 19.6513 19.7205 20.2181C19.1543 20.7848 18.3867 21.1037 17.586 21.1046ZM8.312 16.2209C8.31199 16.4045 8.25771 16.584 8.15601 16.7368C8.05431 16.8895 7.90972 17.0088 7.74046 17.0794C7.5712 17.1501 7.38484 17.1691 7.20484 17.1339C7.02484 17.0988 6.85925 17.0111 6.72893 16.8819C6.59861 16.7528 6.50938 16.5879 6.47248 16.408C6.43558 16.2282 6.45266 16.0415 6.52157 15.8713C6.59048 15.7012 6.70814 15.5553 6.85973 15.452C7.01132 15.3486 7.19006 15.2925 7.37344 15.2907H7.38274C7.62919 15.2907 7.86555 15.3887 8.03982 15.5632C8.21409 15.7376 8.312 15.9742 8.312 16.2209ZM19.0728 18.5847C19.1394 18.649 19.1924 18.726 19.2289 18.8112C19.2654 18.8963 19.2846 18.9879 19.2853 19.0805C19.2861 19.1732 19.2684 19.265 19.2333 19.3507C19.1983 19.4365 19.1465 19.5143 19.081 19.5798C19.0155 19.6453 18.9377 19.6971 18.852 19.7321C18.7664 19.7671 18.6746 19.7847 18.582 19.7839C18.4895 19.783 18.3981 19.7638 18.313 19.7271C18.228 19.6905 18.1511 19.6374 18.0869 19.5707L17.0935 18.5744C17.0286 18.5098 16.9772 18.433 16.9421 18.3483C16.907 18.2637 16.889 18.173 16.8891 18.0814V16.686C16.8891 16.501 16.9625 16.3236 17.0932 16.1927C17.2239 16.0619 17.4012 15.9884 17.586 15.9884C17.7709 15.9884 17.9481 16.0619 18.0788 16.1927C18.2095 16.3236 18.283 16.501 18.283 16.686V17.7921L19.0728 18.5847Z'/%3E%3C/mask%3E%3Cpath d='M11.0812 19.2442H5.50563C4.04019 19.2442 3.4148 18.6181 3.4148 17.1512V9.47674H18.7476V11.5698C18.7476 11.7548 18.821 11.9323 18.9517 12.0631C19.0824 12.1939 19.2597 12.2674 19.4445 12.2674C19.6294 12.2674 19.8066 12.1939 19.9373 12.0631C20.0681 11.9323 20.1415 11.7548 20.1415 11.5698V7.38372C20.196 6.91241 20.1435 6.43485 19.9876 5.98676C19.8318 5.53867 19.5768 5.13165 19.2416 4.79615C18.9065 4.46065 18.4999 4.20536 18.0523 4.04937C17.6046 3.89337 17.1276 3.84072 16.6568 3.89535H15.4952V3.19767C15.4952 3.01264 15.4218 2.83518 15.291 2.70434C15.1603 2.5735 14.9831 2.5 14.7982 2.5C14.6134 2.5 14.4361 2.5735 14.3054 2.70434C14.1747 2.83518 14.1013 3.01264 14.1013 3.19767V3.89535H8.0611V3.19767C8.0611 3.01264 7.98767 2.83518 7.85697 2.70434C7.72626 2.5735 7.54899 2.5 7.36415 2.5C7.17931 2.5 7.00204 2.5735 6.87134 2.70434C6.74063 2.83518 6.66721 3.01264 6.66721 3.19767V3.89535H5.50563C5.03481 3.84072 4.55775 3.89337 4.11013 4.04937C3.66251 4.20536 3.25591 4.46065 2.92077 4.79615C2.58562 5.13165 2.33059 5.53867 2.17476 5.98676C2.01893 6.43485 1.96634 6.91241 2.02091 7.38372V17.1512C1.96634 17.6225 2.01893 18.1 2.17476 18.5481C2.33059 18.9962 2.58562 19.4032 2.92077 19.7387C3.25591 20.0742 3.66251 20.3295 4.11013 20.4855C4.55775 20.6415 5.03481 20.6942 5.50563 20.6395H11.0812C11.266 20.6395 11.4433 20.566 11.574 20.4352C11.7047 20.3043 11.7781 20.1269 11.7781 19.9419C11.7781 19.7568 11.7047 19.5794 11.574 19.4485C11.4433 19.3177 11.266 19.2442 11.0812 19.2442ZM5.50563 5.2907H6.66721V5.98837C6.66721 6.17341 6.74063 6.35086 6.87134 6.4817C7.00204 6.61254 7.17931 6.68605 7.36415 6.68605C7.54899 6.68605 7.72626 6.61254 7.85697 6.4817C7.98767 6.35086 8.0611 6.17341 8.0611 5.98837V5.2907H14.1013V5.98837C14.1013 6.17341 14.1747 6.35086 14.3054 6.4817C14.4361 6.61254 14.6134 6.68605 14.7982 6.68605C14.9831 6.68605 15.1603 6.61254 15.291 6.4817C15.4218 6.35086 15.4952 6.17341 15.4952 5.98837V5.2907H16.6568C18.1222 5.2907 18.7476 5.91674 18.7476 7.38372V8.08139H3.4148V7.38372C3.4148 5.91674 4.04019 5.2907 5.50563 5.2907ZM8.312 12.5C8.31199 12.6836 8.25771 12.8631 8.15601 13.0158C8.05431 13.1686 7.90972 13.2878 7.74046 13.3585C7.5712 13.4292 7.38484 13.4481 7.20484 13.413C7.02484 13.3778 6.85925 13.2902 6.72893 13.161C6.59861 13.0318 6.50938 12.8669 6.47248 12.6871C6.43558 12.5073 6.45266 12.3205 6.52157 12.1504C6.59048 11.9803 6.70814 11.8344 6.85973 11.731C7.01132 11.6277 7.19006 11.5716 7.37344 11.5698H7.38274C7.62919 11.5698 7.86555 11.6678 8.03982 11.8422C8.21409 12.0167 8.312 12.2533 8.312 12.5ZM12.029 12.5C12.029 12.6836 11.9748 12.8631 11.8731 13.0158C11.7713 13.1686 11.6268 13.2878 11.4575 13.3585C11.2882 13.4292 11.1019 13.4481 10.9219 13.413C10.7419 13.3778 10.5763 13.2902 10.446 13.161C10.3156 13.0318 10.2264 12.8669 10.1895 12.6871C10.1526 12.5073 10.1697 12.3205 10.2386 12.1504C10.3075 11.9803 10.4252 11.8344 10.5768 11.731C10.7284 11.6277 10.9071 11.5716 11.0905 11.5698H11.0998C11.3462 11.5698 11.5826 11.6678 11.7569 11.8422C11.9311 12.0167 12.029 12.2533 12.029 12.5ZM17.586 13.6628C16.713 13.6628 15.8596 13.9219 15.1337 14.4075C14.4079 14.893 13.8421 15.5831 13.508 16.3905C13.1739 17.1979 13.0865 18.0863 13.2568 18.9434C13.4272 19.8005 13.8475 20.5879 14.4649 21.2058C15.0822 21.8238 15.8687 22.2446 16.7249 22.4151C17.5811 22.5856 18.4686 22.4981 19.2752 22.1637C20.0817 21.8292 20.7711 21.2629 21.2561 20.5362C21.7411 19.8096 22 18.9553 22 18.0814C21.9985 16.91 21.533 15.7869 20.7055 14.9586C19.8781 14.1303 18.7562 13.6643 17.586 13.6628ZM17.586 21.1046C16.9887 21.1046 16.4048 20.9273 15.9081 20.5951C15.4115 20.2629 15.0244 19.7908 14.7958 19.2383C14.5672 18.6859 14.5074 18.078 14.6239 17.4916C14.7405 16.9051 15.0281 16.3664 15.4505 15.9436C15.8729 15.5208 16.411 15.2329 16.9968 15.1162C17.5827 14.9996 18.1899 15.0594 18.7418 15.2883C19.2936 15.5171 19.7653 15.9046 20.0971 16.4018C20.429 16.8989 20.6061 17.4834 20.6061 18.0814C20.6051 18.8829 20.2866 19.6513 19.7205 20.2181C19.1543 20.7848 18.3867 21.1037 17.586 21.1046ZM8.312 16.2209C8.31199 16.4045 8.25771 16.584 8.15601 16.7368C8.05431 16.8895 7.90972 17.0088 7.74046 17.0794C7.5712 17.1501 7.38484 17.1691 7.20484 17.1339C7.02484 17.0988 6.85925 17.0111 6.72893 16.8819C6.59861 16.7528 6.50938 16.5879 6.47248 16.408C6.43558 16.2282 6.45266 16.0415 6.52157 15.8713C6.59048 15.7012 6.70814 15.5553 6.85973 15.452C7.01132 15.3486 7.19006 15.2925 7.37344 15.2907H7.38274C7.62919 15.2907 7.86555 15.3887 8.03982 15.5632C8.21409 15.7376 8.312 15.9742 8.312 16.2209ZM19.0728 18.5847C19.1394 18.649 19.1924 18.726 19.2289 18.8112C19.2654 18.8963 19.2846 18.9879 19.2853 19.0805C19.2861 19.1732 19.2684 19.265 19.2333 19.3507C19.1983 19.4365 19.1465 19.5143 19.081 19.5798C19.0155 19.6453 18.9377 19.6971 18.852 19.7321C18.7664 19.7671 18.6746 19.7847 18.582 19.7839C18.4895 19.783 18.3981 19.7638 18.313 19.7271C18.228 19.6905 18.1511 19.6374 18.0869 19.5707L17.0935 18.5744C17.0286 18.5098 16.9772 18.433 16.9421 18.3483C16.907 18.2637 16.889 18.173 16.8891 18.0814V16.686C16.8891 16.501 16.9625 16.3236 17.0932 16.1927C17.2239 16.0619 17.4012 15.9884 17.586 15.9884C17.7709 15.9884 17.9481 16.0619 18.0788 16.1927C18.2095 16.3236 18.283 16.501 18.283 16.686V17.7921L19.0728 18.5847Z' fill='%23222222' stroke='white' stroke-width='0.2' mask='url(%23path-1-inside-1_721_54973)'/%3E%3C/svg%3E%0A");
}

@mixin ico-search($color: '45, 113, 196') {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='28.5px' height='28.5px'%3E%3Cpath fill-rule='evenodd' fill='rgb(#{$color})' d='M21.683,19.689 L26.461,24.467 C27.47,25.53 27.47,26.3 26.461,26.588 C25.875,27.174 24.926,27.174 24.340,26.588 L19.562,21.810 C18.976,21.224 18.976,20.275 19.562,19.689 C20.148,19.103 21.97,19.103 21.683,19.689 Z'/%3E%3Cpath fill-rule='evenodd' stroke='rgb(#{$color})' stroke-width='2.5px' stroke-linecap='butt' stroke-linejoin='miter' fill='none' d='M12.606,2.693 C18.128,2.693 22.605,7.170 22.605,12.693 C22.605,18.216 18.128,22.693 12.606,22.693 C7.83,22.693 2.605,18.216 2.605,12.693 C2.605,7.170 7.83,2.693 12.606,2.693 Z'/%3E%3C/svg%3E");
}

@mixin ico-link($color: '183, 183, 183') {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='17px' height='16px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(#{$color})' stroke-width='2px' stroke-linecap='butt' stroke-linejoin='miter' fill='none' d='M0.999,1.0 L11.0,1.0 L11.0,11.0 L0.999,11.0 L0.999,1.0 Z'/%3E%3Cpath fill-rule='evenodd' fill='rgb(#{$color})' d='M6.0,13.0 L15.999,13.0 L15.999,14.999 L6.0,14.999 L6.0,13.0 Z'/%3E%3Cpath fill-rule='evenodd' fill='rgb(#{$color})' d='M14.0,5.0 L15.999,5.0 L15.999,14.999 L14.0,14.999 L14.0,5.0 Z'/%3E%3C/svg%3E");
}

@mixin pop-close($color: '0,0,0') {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='22px' height='22px'%3E%3Cpath fill-rule='evenodd' fill='rgb(#{$color})' d='M20.899,1.100 C21.290,1.491 21.290,2.124 20.899,2.514 L2.514,20.899 C2.124,21.289 1.490,21.289 1.100,20.899 C0.709,20.508 0.709,19.875 1.100,19.485 L19.485,1.100 C19.875,0.709 20.508,0.709 20.899,1.100 Z'/%3E%3Cpath fill-rule='evenodd' fill='rgb(#{$color})' d='M1.100,1.100 C0.709,1.491 0.709,2.124 1.100,2.514 L19.485,20.899 C19.875,21.289 20.508,21.289 20.899,20.899 C21.290,20.508 21.290,19.875 20.899,19.485 L2.514,1.100 C2.124,0.709 1.490,0.709 1.100,1.100 Z'/%3E%3C/svg%3E");
}

@mixin ico-warning($color: '214, 219, 225') {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40' fill='none'%3E%3Crect x='17.7998' y='10.4' width='4.4' height='13.3' rx='2.2' fill='rgb(#{$color})'/%3E%3Crect x='17.7998' y='25.2' width='4.5' height='4.5' rx='2.25' fill='rgb(#{$color})'/%3E%3Ccircle cx='20' cy='20' r='19.25' stroke='rgb(#{$color})' stroke-width='1.5'/%3E%3C/svg%3E");
}

@mixin ico-swiper-prev($color: '45, 113, 196') {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='10px' height='18px'%3E%3Cpath fill-rule='evenodd' fill='rgb(#{$color})' d='M2.525,7.903 L9.596,14.974 C9.986,15.365 9.986,15.998 9.596,16.389 L8.889,17.96 C8.498,17.486 7.865,17.486 7.474,17.96 L0.403,10.25 C0.13,9.634 0.13,9.1 0.403,8.610 L1.110,7.903 C1.501,7.513 2.134,7.513 2.525,7.903 Z'/%3E%3Cpath fill-rule='evenodd' fill='rgb(#{$color})' d='M2.525,10.96 L9.596,3.25 C9.986,2.634 9.986,2.1 9.596,1.610 L8.889,0.903 C8.498,0.513 7.865,0.513 7.474,0.903 L0.403,7.974 C0.13,8.365 0.13,8.998 0.403,9.389 L1.110,10.96 C1.501,10.486 2.134,10.486 2.525,10.96 Z'/%3E%3C/svg%3E");
}

@mixin ico-swiper-next($color: '45, 113, 196') {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='10px' height='18px'%3E%3Cpath fill-rule='evenodd' fill='rgb(#{$color})' d='M7.474,7.903 L0.403,14.974 C0.13,15.365 0.13,15.998 0.403,16.389 L1.110,17.96 C1.501,17.486 2.134,17.486 2.525,17.96 L9.596,10.25 C9.986,9.634 9.986,9.1 9.596,8.610 L8.889,7.903 C8.498,7.513 7.865,7.513 7.474,7.903 Z'/%3E%3Cpath fill-rule='evenodd' fill='rgb(#{$color})' d='M7.474,10.96 L0.403,3.25 C0.13,2.634 0.13,2.1 0.403,1.610 L1.110,0.903 C1.501,0.513 2.134,0.513 2.525,0.903 L9.596,7.974 C9.986,8.365 9.986,8.998 9.596,9.389 L8.889,10.96 C8.498,10.486 7.865,10.486 7.474,10.96 Z'/%3E%3C/svg%3E");
}

@mixin ico-link-arr($color: '183, 183, 183') {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='13px' height='13px'%3E%3Cpath fill-rule='evenodd' fill='rgb(#{$color})' d='M6.499,0.0 C10.89,0.0 13.0,2.910 13.0,6.500 C13.0,10.89 10.89,13.0 6.499,13.0 C2.910,13.0 0.0,10.89 0.0,6.500 C0.0,2.910 2.910,0.0 6.499,0.0 Z'/%3E%3Cpath fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M9.828,6.585 L8.414,5.171 L5.171,8.414 L6.585,9.828 L9.828,6.585 Z'/%3E%3Cpath fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M9.828,6.414 L8.414,7.828 L5.171,4.585 L6.585,3.171 L9.828,6.414 Z'/%3E%3C/svg%3E");
}

@mixin ico-link-arr2($color: '153, 153, 153') {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9.44975 7.85024L16.5208 7.85024M16.5208 7.85024L16.5208 14.9213M16.5208 7.85024L8.03553 16.3355' stroke='rgb(#{$color})' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
