@use 'sass:math';

/*가이드*/
@include class-begins('gd__h') {
  color: #999;
  margin-bottom: 1em;
  font-weight: bold;
  line-height: 1.3;
  word-break: break-all;
  margin-top: 2em;
  &:first-child,
  &.first {
    margin-top: 0;
  }
  @include class-begins('gd__h', '+') {
    margin-top: 1em;
  }
  &:before {
    content: '#';
  }
  &:after {
    content: '';
    display: block;
    height: 0.4em;
    background-color: #eee;
    margin-top: -0.4em;
    z-index: -1;
  }
}
.gd__h0 {
  text-align: center;
  font-size: 30px;
  color: $black-color;
}
.gd__h1 {
  font-size: 24px;
  color: #d00;
  &:after {
    background-color: rgba(#d00, 0.1);
  }
}
.gd__h2 {
  font-size: 20px;
  color: #157941;
  &:after {
    background-color: rgba(#157941, 0.1);
  }
}
.gd__h3 {
  font-size: 18px;
  color: #111;
  &:after {
    background-color: rgba(#111, 0.1);
  }
}
.gd__wrap {
  overflow: hidden;
}
.gd__box {
  margin: 20px auto;
  display: flex;
  width: 150px;
  height: 150px;
  background-color: #eee;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  &.on {
    background-color: #d00;
    color: $white-color;
  }
  &.active {
    background: blue;
    color: $white-color;
  }
  &.checked {
    background: green;
    color: $white-color;
  }
  &.selected {
    background: orange;
    color: $white-color;
  }
  //@extend 샘플
  &-2 {
    @extend .gd__box;
    border: 5px solid red;
    //at-root 샘플
    @include unify-parent('section') {
      background-color: blue;
    }
    .gd__wrap2 & {
      border-color: $black-color;
    }
  }
}
.gd__tbl {
  overflow-x: auto;
  overflow-y: hidden;
  th,
  td {
    padding: 10px;
    border: 1px solid $line-color2;
    white-space: nowrap;
  }
}
.gd__lottie-box {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  &.small {
    width: 100px;
    height: 100px;
  }
}
.gd__icon {
  i {
    vertical-align: middle;
  }
}

.gd__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  white-space: nowrap;
  &.grid-col-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  &.grid-col-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  &.grid-col-5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
