@use 'sass:math';

//badge
.badge {
  display: inline-flex;
  font-size: 14px;
  height: 32px;
  padding: 0 15px;
  vertical-align: middle;
  white-space: nowrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-weight: 500;
  background-color: $bg-color5;

  @include class-begins('w-', '&') {
    padding: 0;
  }

  &.blue {
    background-color: $lightblue-color3;
    color: $white-color;
  }
  &.primary {
    background-color: $primary-color;
    color: $white-color;
  }
  &.purple {
    background-color: $purple-color2;
    color: $white-color;
  }
  &.blue-purple {
    background-color: $lightblue-color4;
    color: $white-color;
  }

  &.sky-blue {
    background-color: $skyblue-color;
    color: $white-color;
  }
  &.dark-gray {
    background-color: $gray-color6;
    color: $white-color;
  }
  &.mint {
    background-color: $mint-color;
    color: $white-color;
  }
  &.red {
    background-color: $red-color2;
    color: $white-color;
  }

  &.line {
    background-color: $white-color;
    color: $gray-color;
    padding: 0 14px;
    border: 1px solid $line-color9;

    &.blue {
      border-color: $primary-color;
      color: $primary-color;
    }
    &.orange {
      border-color: $orange-color;
      color: $orange-color;
    }
    &.deep-blue {
      border-color: $blue-color;
      color: $blue-color;
    }
  }
}
.badge2 {
  display: inline-flex;
  font-size: 14px;
  height: 26px;
  padding: 0 8px;
  vertical-align: middle;
  white-space: nowrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: bold;
  background-color: $bg-color7;
  color: $gray-color;
  &.green {
    background-color: to-light($green-color, 90);
    color: $green-color;
  }
  &.red {
    background-color: to-light($red-color3, 90);
    color: $red-color3;
  }
  &.orange {
    background-color: to-light($orange-color, 90);
    color: $orange-color;
  }
  &.blue {
    background-color: to-light($primary-color, 90);
    color: $primary-color;
  }
}
