@use 'sass:math';

//버튼
.button {
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  &:not(.not) {
    display: inline-flex;
    height: $button-height;
    line-height: inherit;
    padding: 0 19px;
    border: 0 solid transparent;
    text-align: center;
    font-size: inherit;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: $button-radius;
    justify-content: center;
    align-items: center;
    font-size: $button-font-size;
    font-weight: 500;
    opacity: 1;
    transition: 0.3s, visibility 0s, margin 0s, width 0s;
    appearance: none;
    background-color: $white-color;
    white-space: nowrap;
    /*
    &:not(:disabled):not(.disabled) {
      &:hover {
        transform: scale(1.03);
        &:active {
          transform: scale(1);
        }
      }
    }
    */
  }
  i {
    pointer-events: none;
  }

  &.small {
    height: $button-sm-height;
    font-size: $button-sm-font-size;
  }
  &.medium {
    height: 38px;
  }
  &.large {
    padding: 0 40px;
    height: $button-lg-height;
  }

  &.icon {
    width: auto;
    padding: 0 5px;
    border-radius: 0;
    @include class-begins('i-ico-') {
      margin: 0 !important;
    }
  }

  &.loading {
    transition: clip-path 0.5s;
    color: transparent !important;
    clip-path: circle(100% at 50% 50%);
    user-select: none;
    pointer-events: none;
    opacity: 1 !important;
    .loading-svg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60%;
      height: 60%;
      position: absolute;
      left: 20%;
      top: 20%;
      svg {
        width: 100%;
        height: 100%;
      }
    }
    &.primary {
      .loading-svg {
        svg {
          .path {
            stroke: $white-color;
          }
        }
      }
    }
  }

  &.full {
    display: flex;
    width: 100%;
  }

  &.disabled,
  &:disabled {
    opacity: 0.4;
  }
  &.disabled {
    pointer-events: none;
  }
  &.primary {
    background-color: $primary-color;
    color: $white-color;
    &.disabled:not(.line),
    &:disabled:not(.line) {
      opacity: 1;
      background-color: to-light($primary-color, 35);
      color: to-light($primary-color, 70);
    }
  }

  &.dark-gray {
    background-color: $gray-color6;
    color: $white-color;
    &.ui-folding-btn.open {
      background-color: $primary-color;
    }
  }
  &.gray {
    background-color: $bg-color8;
  }
  &.purple {
    background-color: $purple-color;
    color: $white-color;
  }
  &.light-blue {
    background-color: $lightblue-color;
    color: $white-color;
  }
  &.black {
    background-color: $black-color;
    color: $white-color;
  }

  &.line {
    border-width: 1px;
    border-color: $input-line-color;
    color: $base-txt-color;
    background-color: $white-color;
    &.black {
      border-color: $black-color;
    }
    &.gray {
      background-color: $bg-color9;
    }

    &.primary {
      border-color: $primary-color;
      color: $primary-color;
    }
    &.blue {
      border-color: $blue-color2;
      color: $blue-color2;
    }
  }

  &.round {
    border-radius: 30px;
  }
  @include class-begins('i-ico-check-') {
    margin-right: 8px;
  }

  &.ico-large {
    height: 125px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid $line-color2;
    border-radius: 8px;
    &:disabled {
      opacity: 1;
    }
    > .txt {
      color: $darkblue-color3;
    }
    > .state {
      display: inline-block;
      font-size: 24px;
    }
    > .date {
      font-size: 15px;
      margin-top: 7px;
      font-weight: normal;
    }
    &.bc-point {
      border-width: 0;
      background-color: $purple-color;
      > .txt {
        color: $white-color;
      }
    }
  }

  &.file {
    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      caret-color: transparent;
    }
  }

  @include class-begins('w-', '&') {
    padding: 0;
    flex-shrink: 0;
  }
}

.btn-ico-large-wrap {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  .button {
    width: 240px;
    + .button {
      margin-left: 10px;
    }
  }
}

.btn-txt {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  &.bg-gray-line {
    padding: 2px 8px;
    background: linear-gradient(to top, $bg-color9 0%, $bg-color9 30%, transparent 30%, transparent 100%);
  }
}

.button,
.ui-folding-btn,
.ui-folding .folding-head .folding-btn,
a.btn-click,
button.btn-click,
a.btn-click-outer,
button.btn-click-outer {
  -webkit-tap-highlight-color: transparent;
}
.btn-click,
.ui-folding-btn {
  position: relative;
  overflow: hidden;
}
.btn-clicking-active {
  overflow: hidden;
}
.btn-click-in {
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  transform: scale(0);
  animation: btnClickEf 0.65s linear;
  &.white {
    background: rgba(255, 255, 255, 0.2);
  }
}
@keyframes btnClickEf {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.btn-center-wrap {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .button {
    &.large {
      min-width: 110px;
    }
    + .button {
      margin-left: 10px;
    }
  }
}
.btn-wrap,
.tg-btn-wrap {
  margin-top: $item-margin-y;
  text-align: center;
  clear: both;
  > .button + .button {
    margin-top: $item-margin-y;
  }
  > .button,
  div:not(.input):not(.textarea) > .button {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
  .flex {
    .checkbox.btn,
    .radio.btn {
      width: 100%;
    }
  }
  &.group {
    .button {
      border-radius: 0;
      &.line {
        & + .button.line {
          margin-left: -1px;
          width: calc(100% + 1px);
        }
        &.checked {
          border-color: $primary-color;
          color: $primary-color;
          z-index: 1;
        }
      }
    }
    .checkbox.btn,
    .radio.btn {
      > .lbl {
        border-radius: 0;
      }
      & + .checkbox.btn,
      & + .radio.btn {
        margin-left: -1px;
        width: calc(100% + 1px);
      }
    }
    .flex {
      & + .flex {
        margin-top: -1px;
      }
      > * {
        width: 100%;
        + * {
          margin-left: 0;
        }
      }
      &:first-child {
        .button:first-child,
        .checkbox.btn:first-child > .lbl,
        .radio.btn:first-child > .lbl {
          border-top-left-radius: 4px;
        }
        .button:last-child,
        .checkbox.btn:last-child > .lbl,
        .radio.btn:last-child > .lbl {
          border-top-right-radius: 4px;
        }
      }
      &:last-child {
        .button:first-child,
        .checkbox.btn:first-child > .lbl,
        .radio.btn:first-child > .lbl {
          border-bottom-left-radius: 4px;
        }
        .button:last-child,
        .checkbox.btn:last-child > .lbl,
        .radio.btn:last-child > .lbl {
          border-bottom-right-radius: 4px;
        }
      }
    }
  }
  &.vertical {
    > div {
      flex-direction: column;
      > * + *,
      > .button + .button,
      > .btn + .btn {
        margin-left: 0;
        margin-top: $item-margin-y;
      }
    }
  }

  + .input,
  + .select,
  + .textarea,
  + .flex {
    margin-top: $item-margin-y;
  }
}

// etc button
.button.arr-folding-btn {
  display: flex;
  padding: 0;
  text-align: center;
  height: auto;
  @include class-begins('i-ico-') {
    margin-right: 0;
    transition: 0.3s;
  }
  &.open {
    @include class-begins('i-ico-') {
      @include rotateZ(180);
    }
  }
}
