@use 'sass:math';

.chart-area {
  position: relative;
  height: 100px;
  html.msie & {
    &:after {
      content: 'chart는 IE에서 정상 작동되지 않습니다.\A엣지 및 크롬 등 다른 브라우저를 이용해주세요.';
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      font-weight: 500;
      font-size: 18px;
      color: $white-color;
      text-align: center;
      white-space: pre;
      @include dimm;
      z-index: 100;
    }
  }
  canvas {
    width: 100%;
    height: 100%;
  }
}
