@use 'sass:math';

$today-bg-color: $line-color2;
$hover-bg-color: $black-color;
$selected-bg-color: $primary-color;

$datepicker-txt-color: $base-txt-color;
$saturday-txt-color: #0075c5;
$sunday-txt-color: #f0431a;

/*****************************************************************
jq-Datepicker
*****************************************************************/
.ui-datepicker-trigger {
  flex-shrink: 0;
  @include text-blind;
  width: 32px;
  height: 40px;
  overflow: hidden;
  @include bg-etc;
  @include ico-calendar;
  &:disabled,
  &.disabled {
    opacity: 0.4;
  }
}
.disabled {
  .ui-datepicker-trigger {
    opacity: 0.4;
    pointer-events: none;
  }
}
.ui-widget {
  font-size: 1.1em;
  .ui-widget {
    font-size: 1em;
  }
  input,
  select,
  textarea,
  button {
    font-size: 1em;
  }
}
.ui-icon {
  display: block;
  @include text-blind;
  overflow: hidden;
  background-repeat: no-repeat;
}
.datepicker-dimmed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include dimm;
  z-index: 299;
}
.ui-datepicker {
  position: relative;
  padding: 0 15px;
  background-color: $white-color;
  color: $datepicker-txt-color;
  &:not(.ui-datepicker-inline) {
    width: 320px;
    display: none;
    padding: 0 15px 15px;
    z-index: 300 !important;
    border-radius: 10px;
    border: 0 none;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .ui-datepicker-header {
    position: relative;
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid $line-color5;
    margin-bottom: 5px;
    align-items: center;
    .ui-state-disabled {
      opacity: 0.4;
      cursor: default;
    }
  }
  .ui-datepicker-prev-y,
  .ui-datepicker-next-y,
  .ui-datepicker-prev,
  .ui-datepicker-next {
    display: block;
    padding: 0;
    width: 28px;
    height: 28px;
    background: none !important;
    border-radius: 0;
    overflow: hidden;
    text-align: center;
    z-index: 1;
    flex-shrink: 0;
    span {
      display: block;
      width: 100%;
      height: 100%;
      @include text-blind;
      @include bg-etc;
    }
  }
  .ui-datepicker-prev-y {
    order: 1;
    span {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28' fill='none'%3E%3Crect x='0.5' y='0.5' width='27' height='27' rx='3.5' fill='white' stroke='%23DDDDDD'/%3E%3Cpath d='M19 10L15 14L19 18' stroke='%23666666' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13 10L9 14L13 18' stroke='%23666666' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
  }
  .ui-datepicker-prev {
    margin-left: 3px;
    order: 2;
    span {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28' fill='none'%3E%3Crect x='0.5' y='0.5' width='27' height='27' rx='3.5' fill='white' stroke='%23DDDDDD'/%3E%3Cpath d='M16 10L12 14L16 18' stroke='%23666666' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
  }
  .ui-datepicker-next {
    margin-right: 3px;
    order: 4;
    span {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28' fill='none'%3E%3Crect x='0.5' y='0.5' width='27' height='27' rx='3.5' fill='white' stroke='%23DDDDDD'/%3E%3Cpath d='M12 18L16 14L12 10' stroke='%23666666' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
  }
  .ui-datepicker-next-y {
    order: 5;
    span {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28' fill='none'%3E%3Crect x='27.5' y='27.5' width='27' height='27' rx='3.5' transform='rotate(-180 27.5 27.5)' fill='white' stroke='%23DDDDDD'/%3E%3Cpath d='M9 18L13 14L9 10' stroke='%23666666' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15 18L19 14L15 10' stroke='%23666666' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
  }

  .ui-datepicker-title {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    line-height: 32px;
    height: 32px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    order: 3;
    z-index: 1;
    margin: 0 12px;
    select {
      background: transparent;
      font-size: 18px;
      margin: 0;
      width: auto;
      height: 32px;
      padding-right: 4px;
      line-height: 32px;
      border: 0 none;
      vertical-align: top;
      font-weight: 500;
      text-align: left;
      // color: $datepicker-txt-color;
      &.ui-datepicker-year,
      &.ui-datepicker-month {
        width: auto;
      }

      //&.ui-datepicker-year {
      // text-align: right;
      // margin-right: 4px;
      //}
      &.ui-datepicker-month {
        margin-left: 6px;
      }
    }
  }
  .ui-datepicker-calendar {
    width: 100%;
    font-size: 15px;
    border-collapse: collapse;
    position: relative;
    z-index: 1;
    th {
      height: 25px;
      // padding-bottom: 4px;
      text-align: center;
      font-size: 13px;
      border: 0 none;
      font-weight: normal;
    }
    td {
      height: 40px;
      margin: 0;
      padding: 0;
      border: 0 none;
      font-size: 14px;
      text-align: center;
      white-space: nowrap;
      font-weight: 500;
      span,
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        font-size: 14px;
        // color: $datepicker-txt-color;
        text-decoration: none;
        border-radius: 50%;
        margin: 0 auto;
      }
    }

    .ui-state-disabled .ui-state-default {
      opacity: 0.3;
    }
    .ui-datepicker-week-end {
      .ui-state-default {
        color: $saturday-txt-color;
        &.ui-priority-secondary {
          color: to-light($saturday-txt-color, 60);
        }
      }
      &:first-child {
        .ui-state-default {
          color: $sunday-txt-color;
          &.ui-priority-secondary {
            color: to-light($sunday-txt-color, 60);
          }
        }
      }
    }

    .ui-state-default {
      &.ui-state-highlight {
        border: 1px solid $today-bg-color;
        background-color: $today-bg-color;
        font-weight: bold;
        color: $white-color !important;
      }
      &.ui-priority-secondary {
        // opacity: 0.4;
        color: to-light(#000, 60);
      }
      &.ui-state-hover {
        border-color: $hover-bg-color;
        background-color: $hover-bg-color;
        color: $white-color !important;
      }
      &.ui-state-active {
        background-color: $selected-bg-color;
        border-color: $selected-bg-color;
        color: $white-color !important;
      }
    }
  }
  .ui-datepicker-buttonpane {
    background: none;
    border: none;
    button {
      display: block;
      position: absolute;
      top: 36px;
      width: 25px;
      height: 25px;
      cursor: pointer;
      z-index: 2;
      &.ui-datepicker-current {
        display: none;
        left: 20px;

        font-size: 13px;
        line-height: 25px;
        text-align: center;
        background: none;
      }
    }
  }
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-close {
  display: none;
  top: 32px;
  right: 20px;
  width: 24px;
  height: 24px;
  padding: 0;
  @include text-blind;
  @include bg-etc;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.98954 4.67878C5.69665 4.38588 5.22178 4.38588 4.92888 4.67878C4.63599 4.97167 4.63599 5.44654 4.92888 5.73944L10.9395 11.75L4.92884 17.7606C4.63594 18.0535 4.63594 18.5284 4.92884 18.8213C5.22173 19.1142 5.6966 19.1142 5.9895 18.8213L12.0001 12.8107L18.0104 18.8209C18.3033 19.1138 18.7781 19.1138 19.071 18.8209C19.3639 18.528 19.3639 18.0531 19.071 17.7603L13.0608 11.75L19.071 5.73981C19.3639 5.44692 19.3639 4.97204 19.071 4.67915C18.7781 4.38626 18.3032 4.38626 18.0103 4.67915L12.0001 10.6893L5.98954 4.67878Z' fill='%23222222'/%3E%3C/svg%3E");
}

/* with multiple calendars */
.ui-datepicker-multi {
  &.ui-datepicker {
    width: auto;
  }
  .ui-datepicker-group {
    float: left;
  }
  .ui-datepicker-group table {
    width: 95%;
    margin: 0 auto 0.4em;
  }
  .ui-datepicker-group-last .ui-datepicker-header,
  .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
  }
  .ui-datepicker-buttonpane {
    clear: left;
  }
}
.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}
.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
  direction: rtl;
  .ui-datepicker-prev {
    right: 2px;
    left: auto;
    &:hover {
      right: 1px;
      left: auto;
    }
  }
  .ui-datepicker-next {
    left: 2px;
    right: auto;
    &:hover {
      left: 1px;
      right: auto;
    }
  }
  .ui-datepicker-buttonpane {
    clear: right;
    button {
      float: left;
    }
  }
  .ui-datepicker-buttonpane button.ui-datepicker-current,
  .ui-datepicker-group {
    float: right;
  }
  .ui-datepicker-group-last .ui-datepicker-header,
  .ui-datepicker-group-middle .ui-datepicker-header {
    border-right-width: 0;
    border-left-width: 1px;
  }
}
