@use 'sass:math';

.rolling-number {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  .rolling__in {
    display: block;
    position: relative;
    height: 100%;
    // line-height: 100%;
    text-align: center;
    // display: flex;
    // flex-direction: column;
    > div,
    > span {
      height: 100%;
    }
    > span {
      display: block;
    }
  }
  &:not(.is-active) {
    .rolling__in {
      top: 0 !important;
    }
  }
  &.is-active {
    .rolling__in {
      animation: rollingNumber 1s backwards;
    }
  }
}
@keyframes rollingNumber {
  from {
    top: 0;
  }
}

.animate__animated {
  &.paused {
    animation-play-state: paused;
  }
}
