@use 'sass:math';

// folding
.folding-list {
  border-top: 1px solid $line-color3;
  font-size: 15px;
  > li {
    border-bottom: 1px solid $line-color3;
  }
  > li,
  > .folding-head {
    position: relative;
  }
  .folding-head {
    background-color: $white-color;
  }
  .folding-btn {
    display: block;
    position: relative;
    padding: 19px 58px 19px $base-padding;
    line-height: 20px;
    color: $base-txt-color;
    overflow: hidden;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: $base-padding;
      width: 18px;
      height: 12px;
      margin-top: -6px;
      @include bg-etc;
      @include ico-toggle;
      @include rotateZ(0);
      transition: 0.3s;
    }
    &.reverse-arr {
      &:after {
        @include rotateZ(180);
      }
    }
    &.disabled {
      background-color: $input-disabled-bg-color;
      color: $input-disabled-color;
      &:after {
        border-color: $input-disabled-color;
      }
    }
    &.open {
      font-weight: 500;
    }
  }
  div.folding-btn {
    padding-right: $base-padding;
    &:after {
      content: none;
    }
  }

  > li.open {
    .folding-btn {
      font-weight: 500;
    }
  }
  li.open .folding-btn:after,
  .folding-btn.open:after {
    @include ico-toggle('0,0,0');
    @include rotateZ(180);
  }
  .folding-panel {
    display: none;
    position: relative;
    img {
      max-width: 100%;
    }
  }
  .folding-file-dl {
    border-top: 1px solid $line-color3;
    display: flex;
    padding: 20px 0;
    > dt {
      width: 94px;
      line-height: 35px;
      border-radius: 18px;
      background-color: $white-color;
      border: 1px solid $line-color3;
      font-size: 15px;
      color: $base-txt-color;
      text-align: center;
      flex-shrink: 0;
      align-self: flex-start;
    }
    > dd {
      padding: 8px 0 8px 20px;
    }
  }
  &.faq-list {
    .folding-btn {
      display: flex;
      padding-left: 0;
      .faq-cate {
        width: 175px;
        flex-shrink: 0;
        text-align: center;
      }
      .title {
        flex: 1 1 auto;
        padding-left: 20px;
      }
    }
    .folding-panel {
      border-top: 2px solid $black-color;
      background-color: $bg-color5;
      padding: 0 40px;
      .folding-panel-inner {
        padding: 30px 0 50px;
      }
    }
    li.open {
      .folding-btn {
        font-weight: bold;
      }
    }
  }
  &.ty-2 {
    border: none;
    > li {
      border: none;
      // &.open {
      //   .folding-head {
      //     border-radius: 0 0 15px 15px;
      //   }
      // }
    }
    .folding-head {
      background-color: $lightblue-color2;
      border-radius: 15px 15px 0 0;
      transition: border-radius 0.3s;
      .folding-btn {
        display: flex;
        align-items: center;
        padding: 0 60px 0 28px;
        height: 64px;
        font-weight: 500;
        font-size: 18px;
        color: $white-color;
        &:after {
          @include ico-toggle('255,255,255');
          right: 30px;
        }
      }
    }
    .folding-panel {
      border: 1px solid $line-color3;
      padding: 40px 29px;
      border-radius: 0 0 15px 15px;
    }
  }
}
.ui-folding-btn {
  @include class-begins('i-ico-arr') {
    display: block;
    @include rotateZ(0);
    transition: 0.3s;
  }
  &.open {
    @include class-begins('i-ico-arr') {
      @include rotateZ(180);
    }
  }
}

.folding-tail {
  position: relative;
  .folding-tail-panel {
    display: none;
  }
  .folding-tail-btn {
    text-align: center;
    a {
      display: inline-flex;
      align-items: center;
      font-size: 12px;
      height: 25px;
      padding: 0 10px;
      border: 1px solid $line-color;
      border-top-width: 0;
      border-radius: 0 0 8px 8px;
      background-color: $bg-color;
      vertical-align: top;
      &:after {
        @include after-append(13px, 8px);
        margin-left: 5px;
        @include ico-select;
        @include bg-etc;
      }
      &.open {
        &:after {
          @include rotateZ(180);
        }
      }
    }
  }
}
