@use 'sass:math';

// form
i.require {
  // display: inline-flex;
  // align-items: center;
  display: inline-block;
  margin-right: 4px;
  line-height: 1;
  @include text-blind;
  &:after {
    content: '*';
    font-size: 16px;
    font-weight: 500;
    color: $red-color2;
  }
}
.form-lbl {
  display: flex;
  align-items: center;
  color: $gray-color3;
  font-size: 14px;
  margin-bottom: $item-margin-y;
  > .left {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    align-items: center;
  }
  > .right {
    display: flex;
    flex: 0 0 auto;
    margin-left: 20px;
    align-items: center;
    font-weight: normal;
  }
}
.form-item,
.validate-item,
.validate-txt {
  position: relative;
  + .form-item,
  + .validate-item {
    margin-top: $item-margin-y * 3;
  }
}

.validate-item {
  + .form-item,
  + .validate-item {
    margin-top: 16px;
  }
}
.validate-txt {
  margin-top: 5px;
  font-size: 14px;
  &:before {
    content: 'ⓘ ';
    vertical-align: 1px;
  }
  &.is-error {
    color: $red-color;
  }
  &.is-success {
    color: $primary-color;
  }
  + .flex,
  + .input,
  + .select,
  + .textarea {
    margin-top: $item-margin-y;
  }
}
.help-txt {
  font-size: 15px;
}

.search-box {
  padding: 30px 49px;
  border: 1px solid $line-color;
  background-color: $bg-color;
  .search-box-row {
    display: flex;
    align-items: center;
    @include class-begins('w-') {
      flex-shrink: 0;
    }
    + .search-box-row {
      margin-top: 10px;
    }
    > .inp-flex {
      width: 100%;
    }
    &.bd-t {
      padding-top: 20px;
      border-top: 1px solid $line-color;
    }
    > .search-box-btn {
      margin-left: 10px;
    }
  }
  .search-box-dl {
    display: flex;
    width: 100%;
    @include class-begins('w-', '&') {
      flex-shrink: 0;
    }
    + .search-box-dl {
      margin-left: 40px;
    }
  }
  .search-box-dt {
    min-width: 80px;
    flex-shrink: 0;
    font-size: 16px;
    line-height: 24px;
    padding: 9px 0px;
    font-weight: 500;
    @include class-begins('w-', '&') {
      flex-shrink: 0;
      min-width: auto;
    }
    &.w-auto + .search-box-dd {
      margin-left: 20px;
    }
  }
  .search-box-dd {
    flex: 1 1 auto;
    width: 100%;
    .chk-wrap {
      padding: 5px 0;
    }
    > .search-box-btn {
      margin-left: auto;
    }
  }
  .search-box-btn {
    width: 110px;
    flex-shrink: 0;
  }
  .search-box-btn-wrap {
    display: flex;
    .button {
      + .button {
        margin-left: 8px;
      }
    }
  }
  .search-box-inner {
    flex: 1 1 auto;
    ~ .search-box-btn {
      margin-left: 10px;
    }
  }
  &.ty2 {
    display: flex;
    .search-box-btn {
      height: auto;
    }
  }
  &.ty3 {
    .search-box-inner {
      position: relative;
      padding-right: 120px;
      .search-box-btn {
        position: absolute;
        bottom: 0;
        right: 0;
      }
      .search-box-btn-wrap {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 110px;
        .search-box-btn {
          position: relative;
          right: auto;
          bottom: auto;
          width: 100%;
          flex: 1 1 auto;
          + .button {
            margin-right: -20px;
          }
        }
      }
    }
  }

  .folding-tail {
    position: static;
    .folding-tail-panel {
      margin-top: 20px;
      &:before {
        content: '';
        display: block;
        height: 1px;
        background-color: $line-color;
        margin-right: -120px;
        margin-bottom: 20px;
      }
    }
    .folding-tail-btn {
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      margin-top: 30px;
    }
  }
}
