@use 'sass:math';

// icon
@include class-begins('i-ico-') {
  @include icon-default;
}
@include class-begins('i-btn-') {
  @include icon-default;
}
@include class-begins('i-img-') {
  @include icon-default;
}
@include class-begins('i-badge-') {
  @include icon-default;
}

.i-ico-notice {
  width: 30px;
  height: 27px;
  background-image: url(../images/icon/ico-notice.png);
}
.i-ico-list {
  width: 18px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='18px' height='16px'%3E%3Cpath fill-rule='evenodd' fill='rgb(45, 113, 196)' d='M4.999,16.0 L4.999,12.0 L18.0,12.0 L18.0,16.0 L4.999,16.0 ZM4.999,6.0 L18.0,6.0 L18.0,10.0 L4.999,10.0 L4.999,6.0 ZM4.999,0.0 L18.0,0.0 L18.0,4.0 L4.999,4.0 L4.999,0.0 ZM0.0,12.0 L2.999,12.0 L2.999,16.0 L0.0,16.0 L0.0,12.0 ZM0.0,6.0 L2.999,6.0 L2.999,10.0 L0.0,10.0 L0.0,6.0 ZM0.0,0.0 L2.999,0.0 L2.999,4.0 L0.0,4.0 L0.0,0.0 Z'/%3E%3C/svg%3E");
}
.i-ico-file {
  width: 29px;
  height: 26px;
  background-image: url(../images/icon/ico-file.png);
}
.i-ico-list-file {
  width: 20px;
  height: 17px;
  background-image: url(../images/icon/ico-list-file.png);
  background-size: contain;
}
.i-ico-refresh {
  width: 16px;
  height: 21px;
  background-image: url(../images/icon/ico-refresh.png);
}
.i-ico-noti {
  width: 15px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='14.5px' height='15.5px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(0, 0, 0)' stroke-width='1px' stroke-linecap='butt' stroke-linejoin='miter' opacity='0.2' fill='none' d='M3.499,1.499 L11.499,1.499 C12.604,1.499 13.499,2.395 13.499,3.499 L13.499,12.499 C13.499,13.604 12.604,14.499 11.499,14.499 L3.499,14.499 C2.395,14.499 1.499,13.604 1.499,12.499 L1.499,3.499 C1.499,2.395 2.395,1.499 3.499,1.499 Z'/%3E%3Cpath fill-rule='evenodd' stroke='rgb(0, 0, 0)' stroke-width='1px' stroke-linecap='butt' stroke-linejoin='miter' fill='none' d='M2.499,0.499 L10.499,0.499 C11.604,0.499 12.499,1.395 12.499,2.499 L12.499,11.499 C12.499,12.604 11.604,13.499 10.499,13.499 L2.499,13.499 C1.395,13.499 0.499,12.604 0.499,11.499 L0.499,2.499 C0.499,1.395 1.395,0.499 2.499,0.499 Z'/%3E%3Cpath fill-rule='evenodd' stroke='rgb(0, 0, 0)' stroke-width='1px' stroke-linecap='butt' stroke-linejoin='miter' fill='none' d='M3.499,4.499 L8.499,4.499 L8.499,5.499 L3.499,5.499 L3.499,4.499 Z'/%3E%3Cpath fill-rule='evenodd' stroke='rgb(0, 0, 0)' stroke-width='1px' stroke-linecap='butt' stroke-linejoin='miter' fill='none' d='M3.499,7.499 L8.499,7.499 L8.499,8.499 L3.499,8.499 L3.499,7.499 Z'/%3E%3C/svg%3E");
}
// 임시
.i-ico-tooltip {
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Ccircle cx='8' cy='8' r='7.5' stroke='%23B9C1C9'/%3E%3Cpath d='M6.33241 6.15384L6.62679 6.558L6.33241 6.15384C6.29795 6.17894 6.24533 6.19663 6.18563 6.19298C6.12597 6.18933 6.08016 6.16578 6.0541 6.1408C6.02961 6.11734 6.02649 6.09795 6.02649 6.08947C6.02654 5.65374 6.21941 5.22303 6.58448 4.89616C6.95142 4.56762 7.45984 4.375 7.99999 4.375C8.54014 4.375 9.04855 4.56762 9.41549 4.89616C9.78062 5.22308 9.97349 5.65385 9.97349 6.08964C9.97349 6.45964 9.90996 6.70349 9.78526 6.92501C9.65154 7.16254 9.42851 7.40911 9.04263 7.75461L9.04261 7.75459L9.03857 7.75828L8.91715 7.86941L8.91714 7.86941L8.91517 7.87124C8.67992 8.08889 8.48279 8.29472 8.35363 8.53165C8.21343 8.78881 8.17458 9.04094 8.17458 9.31094C8.17458 9.31957 8.17124 9.34066 8.14347 9.36552C8.11389 9.39201 8.06304 9.41494 7.99999 9.41494C7.93694 9.41494 7.88608 9.39201 7.8565 9.36552C7.82874 9.34066 7.8254 9.31957 7.8254 9.31094C7.8254 8.94095 7.88892 8.69709 8.01362 8.47558C8.14734 8.23805 8.37037 7.99148 8.75625 7.64598L8.75627 7.646L8.76031 7.64231L8.88174 7.53117L8.88174 7.53118L8.88371 7.52935C9.11896 7.3117 9.31609 7.10587 9.44525 6.86894C9.58545 6.61177 9.6243 6.35965 9.6243 6.08964C9.6243 5.6711 9.43812 5.28252 9.12852 5.00532C8.82074 4.72975 8.41404 4.58299 7.99999 4.58299C7.58594 4.58299 7.17923 4.72975 6.87145 5.00532C6.56709 5.27783 6.382 5.65798 6.37583 6.06843L6.37309 6.10412C6.36902 6.11618 6.35849 6.13485 6.33241 6.15384Z' fill='%23D6DBE1' stroke='%23B9C1C9'/%3E%3Ccircle cx='8.09805' cy='11.288' r='0.837068' fill='%23B9C1C9'/%3E%3C/svg%3E");
}
.i-ico-graph-bar {
  width: 34px;
  height: 21px;
  background-image: url(../images/icon/ico-graph-bar.png);
}
.i-ico-approval {
  width: 43px;
  height: 37px;
  background-image: url(../images/icon/ico-approval.png);
}
@include class-begins('i-ico-main-') {
  width: 43px;
  height: 40px;
}
.i-ico-download-file {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $lightblue-color;
  background-image: url(../images/icon/ico-download-file.png);
}
@include class-begins('i-ico-box-') {
  width: 60px;
  height: 60px;
  background-color: $white-color;
  border-radius: 15px;
}
$boxIcons: ('company', 'note', 'conutry', 'code', 'computer', 'keyboard', 'user');
@each $icon in $boxIcons {
  .i-ico-box-#{$icon} {
    background-image: url(../images/icon/ico-box-#{$icon}.png);
  }
}
@include class-begins('i-ico-tit-ring-') {
  width: 12px;
  height: 12px;
  border: 4px solid transparent;
  border-radius: 50%;
}
.i-ico-tit-ring-1 {
  border-color: $skyblue-color;
}
.i-ico-tit-ring-2 {
  border-color: $blue-color2;
}
.i-ico-tit-ring-3 {
  border-color: $mint-color;
}
@include class-begins('i-ico-sm-') {
  width: 24px;
  height: 22px;
  table & {
    vertical-align: -5px;
    margin-right: 9px;
  }
}
$smIcons: ('info', 'company', 'download', 'chart', 'timer', 'computer');
@each $icon in $smIcons {
  .i-ico-sm-#{$icon} {
    background-image: url(../images/icon/ico-sm-#{$icon}.png);
  }
}
.i-ico-btn-arr {
  width: 10px;
  height: 13px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='9.25px' height='12.25px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(161, 167, 166)' stroke-width='1.5px' stroke-linecap='butt' stroke-linejoin='miter' fill='none' d='M1.749,1.749 L5.749,5.249 L1.749,9.249 '/%3E%3C/svg%3E");
}
.i-ico-link-arr {
  width: 13px;
  height: 13px;
  @include ico-link-arr('69, 146, 233');
  &.ty2 {
    @include ico-link-arr;
  }
}
.i-ico-link-arr2 {
  width: 24px;
  height: 24px;
  @include ico-link-arr2;
  &.white {
    @include ico-link-arr2('255, 255, 255');
  }
}
.i-ico-btn-download {
  width: 14px;
  height: 13px;
  background-image: url(../images/icon/ico-btn-download.png);
}
.i-ico-btn-link {
  width: 17px;
  height: 16px;
  @include ico-link;
  &.ty2 {
    @include ico-link('150, 184, 225');
  }
}
.i-ico-btn-excel {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'%3E%3Cpath fill-rule='evenodd' fill='rgb(174, 177, 180)' d='M13.999,20.999 L13.999,23.999 L11.874,23.999 L11.781,23.968 L0.781,21.531 L0.0,21.343 L0.0,2.656 L0.781,2.468 L11.781,0.31 L11.874,0.0 L13.999,0.0 L13.999,2.999 L23.999,2.999 L23.999,20.999 L13.999,20.999 ZM11.999,2.31 L1.999,4.218 L1.999,19.781 L11.999,21.968 L11.999,2.31 ZM21.999,4.999 L13.999,4.999 L13.999,5.999 L15.999,5.999 L15.999,7.999 L13.999,7.999 L13.999,8.999 L15.999,8.999 L15.999,10.999 L13.999,10.999 L13.999,11.999 L15.999,11.999 L15.999,13.999 L13.999,13.999 L13.999,14.999 L15.999,14.999 L15.999,16.999 L13.999,16.999 L13.999,18.999 L21.999,18.999 L21.999,4.999 ZM20.999,7.999 L16.999,7.999 L16.999,5.999 L20.999,5.999 L20.999,7.999 ZM20.999,10.999 L16.999,10.999 L16.999,8.999 L20.999,8.999 L20.999,10.999 ZM20.999,13.999 L16.999,13.999 L16.999,11.999 L20.999,11.999 L20.999,13.999 ZM20.999,16.999 L16.999,16.999 L16.999,14.999 L20.999,14.999 L20.999,16.999 ZM3.218,7.999 L3.312,7.937 L5.437,7.687 L6.62,9.999 C6.159,10.238 6.234,10.519 6.312,10.843 L6.343,10.843 C6.394,10.648 6.492,10.355 6.624,9.968 L7.874,7.281 L10.156,6.999 L7.562,11.968 L10.218,16.999 L7.781,16.687 L6.437,13.749 C6.378,13.628 6.339,13.386 6.281,13.62 L6.249,13.62 C6.222,13.214 6.136,13.468 6.31,13.781 L5.156,16.249 L2.999,15.999 L4.999,11.999 L3.218,7.999 Z'/%3E%3C/svg%3E");
  &.small {
    width: 16px;
    height: 16px;
    background-size: contain;
  }
}
.i-ico-btn-print {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'%3E%3Cpath fill-rule='evenodd' fill='rgb(174, 177, 180)' d='M18.999,19.999 L18.999,23.999 L4.999,23.999 L4.999,19.999 L0.0,19.999 L0.0,9.999 C0.0,8.355 1.355,6.999 2.999,6.999 L4.999,6.999 L4.999,0.0 L18.999,0.0 L18.999,6.999 L20.999,6.999 C22.644,6.999 23.999,8.355 23.999,9.999 L23.999,19.999 L18.999,19.999 ZM6.999,22.0 L17.0,22.0 L17.0,16.0 L6.999,16.0 L6.999,22.0 ZM17.0,1.999 L6.999,1.999 L6.999,7.0 L17.0,7.0 L17.0,1.999 ZM21.999,9.999 C21.999,9.433 21.566,8.999 20.999,8.999 L2.999,8.999 C2.433,8.999 1.999,9.433 1.999,9.999 L1.999,17.999 L4.999,17.999 L4.999,13.999 L18.999,13.999 L18.999,17.999 L21.999,17.999 L21.999,9.999 ZM3.999,11.999 C3.449,11.999 2.999,11.550 2.999,10.999 C2.999,10.449 3.449,9.999 3.999,9.999 C4.550,9.999 4.999,10.449 4.999,10.999 C4.999,11.550 4.550,11.999 3.999,11.999 Z'/%3E%3C/svg%3E");
}
.i-btn-search {
  width: 29px;
  @include ico-search;
  background-size: 100% auto;
  @include before-height;
  &.white {
    @include ico-search('255, 255, 255');
  }
}
.i-btn-delete {
  width: 29px;
  height: 29px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='29px' height='29px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(153, 155, 158)' stroke-width='2px' stroke-linecap='butt' stroke-linejoin='miter' fill='rgb(255, 255, 255)' d='M13.999,1.999 C20.627,1.999 26.0,7.372 26.0,13.999 C26.0,20.627 20.627,25.999 13.999,25.999 C7.372,25.999 1.999,20.627 1.999,13.999 C1.999,7.372 7.372,1.999 13.999,1.999 Z'/%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='M19.338,18.424 L17.924,19.838 L13.499,15.414 L9.75,19.838 L7.661,18.424 L12.85,13.999 L7.661,9.575 L9.75,8.161 L13.499,12.585 L17.924,8.161 L19.338,9.575 L14.914,13.999 L19.338,18.424 Z'/%3E%3C/svg%3E");
}
@include class-begins('i-ico-blue-') {
  width: 21px;
  height: 19px;
  margin-right: 9px;
}
$blueIcons: ('machine', 'locate', 'time', 'callcenter', 'pay', 'operate', 'parking');
@each $icon in $blueIcons {
  .i-ico-blue-#{$icon} {
    background-image: url(../images/icon/ico-blue-#{$icon}.png);
  }
}
.i-ico-application {
  width: 48px;
  height: 47px;
  background-image: url(../images/icon/ico-application.png);
}
.i-ico-myapi {
  width: 47px;
  height: 45px;
  background-image: url(../images/icon/ico-myapi.png);
}
.i-ico-weather-logo {
  width: 49px;
  height: 42px;
  background-image: url(../images/icon/ico-weather-logo.png);
}
.i-ico-weather-temperature {
  width: 32px;
  height: 33px;
  background-image: url(../images/icon/ico-weather-temperature.png);
}
.i-ico-weather-wind {
  width: 32px;
  height: 33px;
  background-image: url(../images/icon/ico-weather-wind.png);
}
.i-ico-weather-humidity {
  width: 32px;
  height: 33px;
  background-image: url(../images/icon/ico-weather-humidity.png);
}
.i-ico-weather {
  width: 112px;
  background-size: cover;
  @include before-height;

  $weatherIcons: ('rain', 'shower', 'cloudy', 'sun', 'cloud', 'snowrain', 'snow', 'moon');
  @each $icon in $weatherIcons {
    &.#{$icon} {
      background-image: url(../images/icon/ico-weather-#{$icon}.png);
    }
  }

  &.small {
    width: 40px;
  }
  .table & {
    width: 40px;
  }
  .table.tbl-small2.bg-ty & {
    width: 52px;
  }
}
@include class-begins('i-ico-map-') {
  width: 48px;
  height: 48px;
}
$mapIcons: ('apt', 'officetels', 'house', 'multi-house', 'time', 'parking', 'place', 'disabled-person', 'info-machine', 'info-charge', 'info-schedule', 'info-sale');
@each $icon in $mapIcons {
  .i-ico-map-#{$icon} {
    background-image: url(../images/icon/ico-map-#{$icon}.png);
  }
}

.i-ico-tit-map {
  width: 38px;
  height: 38px;
  @include bg-etc;
  background-image: url(../images/icon/ico-tit-map.png);
}
.i-ico-marker {
  width: 18px;
  height: 26px;
  background-image: url(../images/icon/ico-marker.png);
  &.line {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid $line-color;
    background-color: $white-color;
  }
}
.i-ico-warning {
  width: 40px;
  height: auto;
  @include ico-warning;
  background-size: 100% auto;
  @include before-height;
}
.i-ico-connect {
  width: 31px;
  height: 29px;
  background-image: url(../images/icon/ico-connect.png);
}
.i-ico-member-w {
  width: 25px;
  height: 25px;
  background-image: url(../images/icon/ico-member-white.png);
}
.i-ico-in-arr {
  width: 32px;
  height: 32px;
  background-image: url(../images/icon/ico-box-arr.png);
}
//badge
.i-badge-api {
  width: 20px;
  height: 19px;
  background-image: url(../images/icon/ico-badge-api.png);
}
.i-badge-file {
  width: 18px;
  height: 20px;
  background-image: url(../images/icon/ico-badge-file.png);
}
.i-badge-std {
  width: 18px;
  height: 20px;
  background-image: url(../images/icon/ico-badge-std.png);
}
//img
.i-img-approval {
  width: 90px;
  height: 66px;
  background-image: url(../images/icon/ico-img-approval.png);
}
.i-img-map {
  width: 90px;
  height: 66px;
  background-image: url(../images/icon/ico-img-map.png);
}
.i-img-note {
  width: 90px;
  height: 66px;
  background-image: url(../images/icon/ico-img-note.png);
}
.i-img-search {
  width: 90px;
  height: 66px;
  background-image: url(../images/icon/ico-img-search.png);
}
.i-img-timer {
  width: 90px;
  height: 66px;
  background-image: url(../images/icon/ico-img-timer.png);
}
/*
.i-img-adding {
  width: 55px;
  height: 53px;
  background-image: url(../images/icon/ico-img-adding.png);
}
*/
.i-img-test {
  width: 90px;
  height: 66px;
  background-image: url(../images/icon/ico-img-test.png);
}
.i-img-qa {
  width: 90px;
  height: 66px;
  background-image: url(../images/icon/ico-img-qa.png);
}

.i-img-business-number-1 {
  width: 267px;
  height: 267px;
  background-image: url(../images/contents/img-business-number-1.png);
}
.i-img-business-number-2 {
  width: 268px;
  height: 260px;
  background-image: url(../images/contents/img-business-number-2.png);
}
@include class-begins('i-ico-step-') {
  width: 60px;
  background-size: contain;
  @include before-height;
}
@for $i from 1 through 4 {
  .i-ico-step-#{$i} {
    background-image: url(../images/icon/ico-step-#{$i}.png);
  }
}
@include class-begins('i-ico-step2-') {
  width: 90px;
  background-size: contain;
  @include before-height;
}
@for $i from 1 through 4 {
  .i-ico-step2-#{$i} {
    background-image: url(../images/icon/ico-step2-#{$i}.png);
  }
}
.i-ico-eye {
  width: 23px;
  height: 17px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='22.25px' height='16.25px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(0, 0, 0)' stroke-width='1.5px' stroke-linecap='butt' stroke-linejoin='miter' fill='none' d='M10.749,9.749 C11.280,9.749 11.789,9.539 12.164,9.164 C12.539,8.788 12.749,8.280 12.749,7.749 C12.749,7.219 12.539,6.710 12.164,6.335 C11.789,5.960 11.280,5.749 10.749,5.749 C10.219,5.749 9.710,5.960 9.335,6.335 C8.960,6.710 8.749,7.219 8.749,7.749 C8.749,8.280 8.960,8.788 9.335,9.164 C9.710,9.539 10.219,9.749 10.749,9.749 Z'/%3E%3Cpath fill-rule='evenodd' stroke='rgb(0, 0, 0)' stroke-width='1.5px' stroke-linecap='butt' stroke-linejoin='miter' fill='none' d='M19.749,7.749 C17.860,10.740 14.467,13.749 10.749,13.749 C7.31,13.749 3.638,10.740 1.749,7.749 C4.48,4.907 6.741,1.749 10.749,1.749 C14.757,1.749 17.450,4.907 19.749,7.749 Z'/%3E%3C/svg%3E");
}
.i-ico-yellow-picker {
  width: 22px;
  height: 28px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='22px' height='28px'%3E%3Cpath fill-rule='evenodd' fill='rgb(255, 230, 0)' d='M10.999,27.333 C10.999,27.333 0.332,17.223 0.332,11.333 C0.332,8.504 1.456,5.791 3.457,3.790 C5.457,1.790 8.170,0.666 10.999,0.666 C13.828,0.666 16.541,1.790 18.542,3.790 C20.542,5.791 21.666,8.504 21.666,11.333 C21.666,17.223 10.999,27.333 10.999,27.333 ZM14.299,8.33 C13.424,7.158 12.237,6.666 10.999,6.666 C9.761,6.666 8.574,7.158 7.699,8.33 C6.824,8.908 6.333,10.95 6.333,11.333 C6.333,12.571 6.824,13.758 7.699,14.633 C8.574,15.508 9.761,15.999 10.999,15.999 C12.237,15.999 13.424,15.508 14.299,14.633 C15.174,13.758 15.666,12.571 15.666,11.333 C15.666,10.95 15.174,8.908 14.299,8.33 Z'/%3E%3C/svg%3E");
}
