@use 'sass:math';

// img
.no-img-bg {
  background-color: $bg-color9;
  @include bg-etc(100% auto);
  background-image: url(../images/common/base-img.png) !important;
  // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40' fill='none'%3E%3Crect x='17.7998' y='10.4' width='4.4' height='13.3' rx='2.2' fill='%23D6DBE1'/%3E%3Crect x='17.7998' y='25.2' width='4.5' height='4.5' rx='2.25' fill='%23D6DBE1'/%3E%3Ccircle cx='20' cy='20' r='19.25' stroke='%23D6DBE1' stroke-width='1.5'/%3E%3C/svg%3E") !important;
  &:before,
  img {
    visibility: hidden !important;
    opacity: 0 !important;
  }
  &.swiper-zoom-container {
    // background-color: transparent !important;
    background-size: 120px auto !important;
  }
}
.lottie__init {
  pointer-events: none;
}
.img-box {
  position: relative;
  display: block;
  @include bg-etc;
  @include before-height {
    pointer-events: none;
  }
  img {
    // pointer-events: none;
    @include img-fit(true);
  }
  .img-box-del {
    display: block;
    position: absolute;
    right: -4px;
    top: -4px;
    width: 20px;
    height: 20px;
    background: url(../images/icon/ico-round-close.png) no-repeat center center / contain;
  }

  &.line {
    border: 1px solid $line-color;
  }
  &.contain {
    img {
      object-fit: contain;
    }
  }
}
.img-area {
  position: relative;
  text-align: center;
  display: block;
  img {
    max-width: 100%;
    width: auto !important;
    height: auto !important;
  }
  &.no-img-bg {
    @include before-height {
      pointer-events: none;
    }
    img {
      @include img-fit(true);
    }
  }
}
.img-box-wrap {
  display: flex;
  @include scroll-x;
  .img-box + .img-box {
    margin-left: $item-margin-x;
  }
  .img-box {
    width: 64px;
    flex-shrink: 0;
    // border-radius: 4px;
    &:before {
      border: 1px solid $line-color;
      border-radius: 4px;
      padding-top: calc(100% - 2px);
    }
  }
  &.ty2 {
    padding-top: 4px;
    .img-box + .img-box {
      margin-left: 16px;
    }
  }
}
.img-TBD {
  position: relative;
  &:after {
    content: 'TBD';
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: $white-color;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background: rgba(255, 0, 0, 0.3);
  }
}
