@mixin ico-select($color: '0,0,0') {
  // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='13px' height='8px'%3E%3Cpath fill-rule='evenodd' fill='rgb(#{$color})' d='M12.536,1.879 L6.879,7.535 L6.500,7.157 L6.121,7.535 L0.464,1.879 L1.879,0.464 L6.500,5.086 L11.121,0.464 L12.536,1.879 Z'/%3E%3C/svg%3E");
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='19px' height='12px'%3E%3Cpath fill-rule='evenodd' fill='rgb(#{$color})' d='M18.553,2.818 L10.068,11.303 L9.500,10.735 L8.932,11.303 L0.447,2.818 L2.568,0.697 L9.500,7.629 L16.432,0.697 L18.553,2.818 Z'/%3E%3C/svg%3E");
}
// select
.select select,
.btn-select {
  position: relative;
  width: 100%;
  padding: 0.5rem 4.1rem 0.5rem 1.6rem;
  border-width: 0;
  vertical-align: middle;
  box-sizing: border-box;
  height: 4.6rem;
  white-space: nowrap;
  background-color: transparent;
  line-height: 3.6rem;
  appearance: none;
  transition: color 0.3s ease;
  font-size: var(--input-font-size);
  color: var(--input-txt-color);
  &.off {
    color: var(--placeholder-txt-color);
  }
  option {
    color: var(--strong-txt-color);
  }
}
.btn-select {
  display: inline-flex;
  align-items: center;
  &:after {
    position: absolute;
    right: 1rem;
    top: 50%;
    margin-top: -0.4rem;
    @include rotateZ(0);
    transition: 0.3s;
    @include ico-after-apend(1.3rem, 0.8rem);
    @include ico-select;
  }
  // &.off {
  //   &:after {
  //     @include ico-select('220,220,220');
  //   }
  // }
  &.open,
  &.pop__focused {
    &:after {
      @include rotateZ(180);
    }
  }
  .btn-select-txt {
    display: block;
  }
}
.select {
  display: inline-flex;
  position: relative;
  overflow: hidden;
  font-size: 1.7rem;
  background-color: #fff;
  border: 0.1rem solid var(--line-color);
  border-radius: 1rem;
  transition: border 0.3s;

  select {
    @include bg-etc(1.3rem auto, right 1rem center);
    @include ico-select;
    // &.off {
    //   @include ico-select('220,220,220');
    // }
    &:disabled {
      display: block !important;
      color: var(--input-disabled-color);
      @include ico-select('220,220,220');
      ~ .btn-select {
        display: none;
        color: var(--input-disabled-color);
        &:after {
          @include ico-select('220,220,220');
        }
      }
    }
  }
  &:not(.inline):not(.line) {
    select:disabled,
    select:disabled ~ .btn-select {
      background-color: var(--input-disabled-bg-color);
    }
  }
  &.focus,
  &.focused {
    border-color: var(--primary-color);
  }
  // &.disabled {
  //   select,
  //   .btn-select {
  //     opacity: 0.4;
  //   }
  // }
  &.is-error {
    select,
    .btn-select {
      color: var(--alert-txt-color);
    }
  }
  &.option-open {
    .option-wrap {
      display: block;
    }
  }
  .option-wrap {
    display: none;
    position: absolute;
    white-space: nowrap;
    top: 100%;
    left: 50%;
    min-width: 100%;
    padding: 1.2rem 0;
    border-radius: 0.8rem;
    background: #fff;
    z-index: 100;
    box-shadow: 0.1rem 0.1rem 0.6rem 0 rgba(0, 0, 0, 0.2);
    transform: translateX(-50%);
    .option {
      display: block;
      padding: 0.4rem 2rem 0.4rem 1.6rem;
      font-size: 1.3rem;
      line-height: 2rem;

      &.selected {
        color: var(--primary-color);
      }
    }
  }
  &:not(.form-box) {
    & + :is(.flex, .input, .select, .textarea) {
      margin-top: var(--item-margin-y);
    }
  }

  &.inline {
    display: inline-flex;
    width: auto;
    color: inherit;
    font-size: 1.4rem;
    border: 0 none;
    border-radius: 0;
    background: none;
    select,
    .btn-select {
      height: 2.4rem;
      line-height: 2.4rem;
      padding: 0 1.8rem 0 0;
      font-weight: inherit;
    }
    select {
      background-position: right center;
    }
    .btn-select {
      &:after {
        right: 0;
      }
    }
    // select:disabled ~ .btn-select {
    //   opacity: 0.4;
    // }
    .option-wrap {
      margin-top: 1rem;
    }
    + .select.inline {
      margin-top: 0;
      margin-left: 1.2rem;
    }
  }
  &.inline select,
  .btn-select + select {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
  }

  &.line {
    @include line-form;
    &.focus:before,
    &.focused:before {
      width: 100%;
    }
    select,
    .btn-select {
      padding-left: 0;
      padding-right: 3rem;
      border-width: 0;
      @include line-form-input;
    }
    .lbl {
      @include line-form-lbl-off;
    }
    select {
      background-position: right center;
    }
    .btn-select {
      &:after {
        right: 0;
      }
    }
    &.line-lbl {
      @include line-form-lbl;
      select,
      .btn-select {
        @include line-form-lbl-input;
        &.off {
          color: transparent;
        }
        &:not(.off) ~ .lbl {
          @include line-form-lbl-on;
        }
      }

      .lbl {
        @include line-form-lbl-off;
      }
    }
  }
}

// @media (max-width: 320px) {
//   .select select,
//   .btn-select {
//     padding-right: 3.6rem;
//   }
//   .select {
//     select {
//       background-position: right 0.7rem center;
//     }
//   }
//   .btn-select {
//     &:after {
//       right: 0.7rem;
//     }
//   }
// }

/*select_item*/
.select-item {
  position: relative;
  > a {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem calc(var(--base-padding) * 2) 1rem var(--base-padding);
    font-size: 1.6rem;
    color: var(--base-txt-color);
    min-height: 6rem;
    word-break: break-all;
    transition: color 0.2s;
    &:active {
      background-color: #fafafa;
    }
    &:after {
      position: absolute;
      right: var(--base-padding);
      top: 50%;
      margin-top: -0.7rem;
      @include ico-after-apend(1.4rem, 1.4rem);
      @include ico-check-on;
      opacity: 0;
      transition: opacity 0.2s;
    }
    &.disabled {
      color: var(--input-disabled-color);
      background-color: var(--input-disabled-bg-color);
    }
    .select-item-txt {
      font-weight: 500;
      + .select-item-sub {
        margin-top: 0.2rem;
      }
    }
    .select-item-sub {
      font-size: 1.4rem;
      + .select-item-txt {
        margin-top: 0.2rem;
      }
    }
  }
  &.selected > a {
    font-weight: 500;
    color: var(--primary-color);
    // .select-item-sub {
    //   color: var(--base-txt-color);
    // }
    &:after {
      opacity: 1;
    }
  }
  &:not(.disabled):not(.selected) {
    .select-item-sub {
      color: #818892;
    }
  }
}
.select-item-wrap {
  > li {
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }
  &.col2 > li {
    width: 50%;
  }
  &.col3 > li {
    width: 33.33%;
  }
  &.ty2 {
    .select-item {
      > a {
        min-height: 7.7rem;
      }
      &:not(.disabled):not(.selected) {
        .select-item-txt {
          color: var(--strong-txt-color);
        }
      }
    }
  }
}
