select {
  height: 5.2rem;
  padding: 0 4.1rem 0 1.6rem;
  border-radius: var(--input-radius);
  background-color: #fff;
  @include ico-select;
  @include bg-etc(1.3rem auto, right 1rem center);
  appearance: none;
  border: 0.1rem solid var(--select-line-color);
  vertical-align: middle;
  font-size: var(--select-font-size);
  // &.off {
  //   color: var(--placeholder-txt-color);
  // }
  &:disabled {
    color: var(--input-disabled-color);
    background-color: var(--input-disabled-color);
    @include ico-select('220,220,220');
  }
}
