@use 'sass:math';

.swiper-slide {
  position: relative;
  overflow: hidden;
  backface-visibility: hidden;
}

.swiper-pagination {
  .swiper-container & {
    display: none;
  }
  .swiper-container-initialized & {
    display: block;
  }
  // .swiper-container-horizontal & {
  //   position: relative;
  //   bottom: auto;
  //   line-height: 0;
  //   margin-top: 20px;
  //   z-index: 2;
  // }
  .swiper-pagination-bullet {
    vertical-align: top;
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background-color: $primary-color;
    opacity: 0.2;
    margin: 0 4px;
    transition: 0.3s;
  }
  &:not(.swiper-pagination-fraction) {
    @include text-blind;
  }
  .swiper-pagination-bullet-active {
    width: 20px;
    opacity: 1;
  }
  &.swiper-pagination-fraction {
    font-size: 14px;
    line-height: 1;
  }

  .swiper-pagination-current {
    font-weight: bold;
  }
}
.swiper-button {
  position: absolute;
  top: 50%;
  width: 34px;
  height: 34px;
  margin-top: -17px;
  overflow: hidden;
  background-color: transparent;
  @include text-blind;
  z-index: 2;
  .swiper-container & {
    display: none;
  }
  .swiper-container-initialized & {
    display: block;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include bg-etc;
  }
  &.prev {
    left: 0;
    &:after {
      @include ico-swiper-prev;
    }
  }
  &.next {
    right: 0;
    &:after {
      @include ico-swiper-next;
    }
  }
  &.disabled,
  &:disabled {
    cursor: default;
    opacity: 0.3;
  }
}

.pop-swiper-body {
  &.swiper-container,
  .swiper-container {
    padding: $pop-body-padding-y 0 40px;
  }
  .swiper-slide {
    padding: 0 $pop-padding;
  }
  .swiper-pagination {
    bottom: 20px;
  }
  .swiper-button {
    width: 28px;
    height: 60px;
    background-color: $white-color;
    margin-top: -30px;
    &.prev {
      border-radius: 0 8px 8px 0;
      box-shadow: 5px 0 8px rgba(0, 0, 0, 0.1);
    }
    &.next {
      border-radius: 8px 0 0 8px;
      box-shadow: -5px 0 8px rgba(0, 0, 0, 0.1);
    }
    &.disabled,
    &:disabled {
      opacity: 1;
      &.prev {
        &:after {
          @include ico-swiper-prev('174, 177, 180');
        }
      }
      &.next {
        &:after {
          @include ico-swiper-next('174, 177, 180');
        }
      }
    }
  }
}
