@use 'sass:math';

// table
.table {
  position: relative;
  font-size: 15px;
  .link {
    display: block;
    @include ellipsis;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
  .link-wrap {
    display: flex;
    align-items: center;
    @include class-begins('i-ico-') {
      margin-left: 8px;
    }
  }
  .badge-link {
    display: block;
    text-align: left;
    .badge {
      float: left;
      margin-right: 10px;
      &.h32 {
        margin-top: -5.5px;
        margin-bottom: -5.5px;
      }
    }
    .badge2 {
      float: left;
      margin-right: 10px;
      margin-top: -2px;
      margin-bottom: -2px;
    }
  }
  table {
    table-layout: fixed;
    word-break: break-all;
    border-top: 1px solid $line-color3;
    border-bottom: 1px solid $line-color3;
    th:last-child,
    td:last-child {
      border-right-width: 0;
    }
    th,
    td {
      height: 52px;
      padding: 6px 20px;
      text-align: left;
      word-break: break-all;
      border-right: 1px solid $line-color3;
      &.bd-left {
        border-left: 1px solid $line-color3;
      }
      &.bd-right {
        border-right: 1px solid $line-color3;
      }
    }
    tr + tr {
      th,
      td {
        border-top: 1px solid $line-color3;
      }
    }
    thead + tbody tr:first-child {
      th,
      td {
        border-top: 1px solid $line-color3;
      }
    }
    th {
      background-color: $bg-color;
      font-weight: bold;
    }

    tr.notice {
      th,
      td {
        background-color: $bg-color10;
        .link {
          color: $primary-color;
          font-weight: bold;
        }
      }
    }
    tr.checked {
      th,
      td {
        background-color: $bg-color4 !important;
      }
    }

    thead {
      th {
        padding: 9px;
        text-align: center;
      }
    }
    thead + tbody th ~ td {
      text-align: left;
    }
  }
  tr.pointer {
    &:hover {
      th,
      td {
        text-decoration: underline;
      }
    }
  }
  &.tr-hover {
    tbody {
      tr:hover,
      tr.hover {
        th,
        td:not(.list-empty) {
          background-color: $table-hover-color;
        }
        .link {
          text-decoration: underline;
        }
      }
    }
  }
  &.col-hover {
    tbody {
      th,
      td {
        &.hover {
          background-color: $table-hover-color;
        }
      }
    }
  }
  &.list-ty {
    table {
      border-top: 2px solid $black-color;
      th {
        background-color: $white-color;
      }
      td {
        text-align: center;
      }
    }
  }
  &.list-ty2 {
    table {
      border-top: 1px solid $line-color7;
      border-bottom: 1px solid $line-color5;
      th,
      td,
      thead + tbody tr:first-child td {
        border-color: $line-color5;
      }
      th {
        background-color: $bg-color17;
      }
      td {
        text-align: center;
      }
    }
  }
  &.line-top {
    table {
      border-top: 2px solid $black-color;
    }
  }
  &.line-round {
    border: 1px solid $line-color3;
    border-radius: 13px;
    overflow: hidden;
    table {
      border-radius: 13px;
      border-width: 0;
    }
  }
  &.tbl-left {
    font-size: 16px;

    th,
    td {
      border-right: 0 none;
      height: 61px;
    }
    // &:not(.line-round) {
    //   tbody {
    //     th {
    //       padding-top: 23px;
    //       vertical-align: top;
    //     }
    //   }
    // }
    tbody {
      th {
        background: none;
        font-weight: 500;

        + td {
          padding-left: 0;
        }
      }
      td {
        padding: 9px 0 9px 10px;
      }
    }

    &.tbl-left-ty2 {
      th {
        background-color: $bg-color;
        &.th-bg2 {
          background-color: $bg-color3;
        }
        &.th-bg3 {
          background-color: $bg-color5;
        }
      }
      td {
        padding-left: 20px;
        padding-right: 20px;
      }
      &.th-bg2 {
        th {
          background-color: $bg-color3;
        }
      }
      &.th-bg3 {
        th {
          background-color: $bg-color5;
        }
      }
      &.tbl-slim {
        th,
        td {
          height: 52px;
        }
      }
    }
  }

  &.tbl-small {
    font-size: 12px;
    table {
      th,
      td {
        height: 36px;
        padding: 8px;
      }
    }
  }

  &.tbl-small2 {
    font-size: 14px;
    table {
      position: relative;
      th,
      td {
        height: 41px;
        &.gra {
          height: 51px;
          padding-top: 16px;
        }
      }
      th {
        background-color: transparent;
        padding-left: 5px;
        padding-right: 5px;
      }
      td {
        padding-left: 0;
        padding-right: 0;
      }
    }
    &.bg-ty {
      background: $bg-color6;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 110px;
        border-bottom: 5px solid $bg-color6;
        background: $white-color;
        box-shadow: 0 10px 20px rgba(87, 141, 208, 0.2);
      }
      table {
        border-top-width: 0;
        tr:first-child {
          th,
          td {
            border-bottom: 1px solid $line-color3;
          }
        }
        th,
        td {
          border-top-width: 0;
        }
      }
    }
  }

  &.tbl-middle {
    table {
      tr.reported {
        background-color: $bg-color14;
      }
      th,
      td {
        height: 42px;
      }
      th {
        padding: 0;
        font-weight: 500;
      }
    }
  }

  &.td-center {
    table {
      th,
      td {
        &:not(.t-right):not(.t-left) {
          text-align: center !important;
        }
      }
    }
  }

  &.tbl-scroll {
    overflow: auto;
    border-bottom: 1px solid $line-color3;
    &.small {
      max-height: 404px;
      .ie11 & {
        max-height: 414px;
      }
    }
    table {
      border-bottom-width: 0;
      table-layout: auto;
      th,
      td {
        white-space: nowrap;
      }
    }
  }
  &.tbl-scroll2 {
    overflow: auto;
    border-bottom: 1px solid $line-color3;
    table {
      border-bottom-width: 0;
      table-layout: auto;
    }
    .thead {
      position: sticky;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 3;
      background-color: $white-color;
      table {
        border-bottom-width: 1px;
      }
    }
    .tbody {
      table {
        border-top-width: 0;
      }
    }
    &.list-ty {
      border-top: 2px solid $black-color;
      table {
        border-top-width: 0;
      }
    }
  }

  &.tbl-blue {
    table {
      font-size: 16px;
      border: none;
      th {
        font-weight: 500;
      }
      th,
      td {
        background: none;
        border-right: 0;
      }
      td {
        padding-left: 10px;
      }
      tr + tr th,
      tr + tr td {
        border-top: 1px solid $lightblue-color;
      }
    }
    border: 1px solid $lightblue-color;
    border-radius: 8px;
    .bd-right {
      border-right: 1px solid $lightblue-color;
    }
    .has-bg {
      background-color: $bg-color;
      border-bottom-right-radius: 8px;
    }
    .va-top {
      padding: 15px 20px;
      ul li + li {
        margin-top: 6px;
      }
      li > dl {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  &.blue-bg {
    table {
      border: none;
      th {
        height: 82px;
        padding: 0 10px;
        font-weight: normal;
        font-size: 14px;
      }
      td {
        height: 50px;
        font-size: 16px;
      }
      th,
      td {
        background-color: $bg-color3;
        border-right: 2px solid $white-color;
        &:last-child {
          border-right: none;
        }
      }
      thead + tbody tr:first-child td {
        border-top: 2px solid $white-color;
      }
    }
  }
  &.info-api-table {
    table {
      border-bottom-width: 0px;
    }
    th {
      height: 34px;
      font-size: 14px;
      font-weight: 500;
      color: $gray-color3;
    }
    th,
    td {
      padding: 5px 0;
      border-right-width: 0;
      border-top-width: 0px;
    }
    td {
      height: 30.4px;
    }
    .t-left {
      padding-left: 10px;
      padding-right: 10px;
      @include ellipsis;
    }
    tbody {
      tr:first-child {
        th,
        td {
          padding-top: 18px;
          border-top-width: 1px;
        }
      }
      tr:last-child {
        th,
        td {
          padding-bottom: 18px;
        }
      }
    }
    td:first-child {
      padding-left: 14px;
      padding-right: 14px;
      color: $primary-color;
      @include ellipsis;
    }
    .result-empty {
      padding: 59px 0 !important;
      position: relative;
      z-index: 2;
      background-color: $white-color;
      border-bottom-left-radius: $input-lg-radius;
      border-bottom-right-radius: $input-lg-radius;
    }
  }
  &.application-table {
    table {
      border-top-width: 0px;
      border-bottom-width: 0px;

      tr + tr th,
      tr + tr td {
        border-top: 2px solid $lightblue-color;
      }
      th {
        background-color: $bg-color5;
        font-size: 16px;
        font-weight: 500;
        color: $primary-color;
      }
      th,
      td {
        height: 65px;
        padding: 0 15px;
        border-right: 2px solid $lightblue-color;
      }
      td {
        background-color: $white-color;
        .count-box {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 16px;
          &.rejection {
            strong {
              font-size: 15px;
            }
            .application-count {
              font-size: 18px;
              font-weight: 500;
            }
          }
          strong {
            font-weight: 500;
          }
          div {
            display: flex;
            align-items: center;
            .application-count {
              margin-right: 5px;
              font-size: 20px;
              font-weight: 700;
              color: $primary-color;
            }
          }
        }
      }
    }
  }
}
.tbl-scroll-wrap {
  overflow: auto;
  table {
    table-layout: auto;
    th,
    td {
      white-space: nowrap;
    }
  }
}
.chk-list {
  position: relative;
  height: 180px;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid $line-color4;
  border-radius: 6px;
  .guide-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    color: $primary-color;
  }
}

.list-view-content {
  table.table.table-bordered {
    width: 100%;
    border-collapse: collapse;
    tr {
      th,
      td {
        border: 1px solid $line-color6;
        padding: 5px 3px;
        height: auto;
      }
    }
  }
}
