@use 'sass:math';

// 탭
.tab-fixed.top-fixed {
  position: sticky;
  top: $page-title-fixed-height;
  z-index: $content-zIndex;
  /*
  .tab-inner {
    position: fixed;
    top: 50px;
    width: $contents-lnb-width;
    @include dimm-white;
    z-index: $content-zIndex;
  }
  */
}
.tab-line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  z-index: 1;
  pointer-events: none;
  .tab-line-moving & {
    transition: 0.3s;
  }
  &.ty2 {
    right: 100%;
    width: auto;
  }
}
.tab-inner {
  position: relative;
  @include scroll-x;
}
.tab-list {
  position: relative;
  display: inline-flex;
  min-width: 100%;
  white-space: nowrap;
  text-align: center;
}
.tab-navi-menu {
  position: relative;
  background-color: $white-color;
  // &.top-fixed {
  //   height: 67px;
  // }
  .tab-line {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border: 2px solid $black-color;
    border-bottom-width: 0;
    box-sizing: border-box;
    pointer-events: none;
    z-index: 1;
  }
  .tab {
    width: 100%;
    position: relative;
    text-align: center;
    padding-bottom: 2px;
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0;
      border: 2px solid $black-color;
      border-bottom-width: 0;
      box-sizing: border-box;
      transition: height 0.3s ease-out;
      pointer-events: none;
    }
    & > a {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 10px;
      height: 65px;
      text-align: center;
      color: $gray-color3;
      font-size: 18px;
      line-height: 1.4;
      overflow: hidden;
      transition: 0.3s;
      border: 1px solid $line-color;
      border-bottom-width: 0;
      //border-bottom: 2px solid $black-color;
    }
    + .tab > a {
      margin-left: -1px;
    }
    &.active {
      z-index: 1;
      &:before {
        height: 100%;
        z-index: 1;
      }
      > a {
        font-size: 20px;
        color: $tab-navi-active-color;
        font-weight: bold;
      }
    }
  }
  /*
  &.tab-2 {
    .tab {
      &.active {
        a {
          color: $tab-navi-active-color2;
        }
      }
    }
  }
  */
}
.tab-fill-menu {
  position: relative;
  .tab {
    position: relative;
    width: 100%;
    &:first-child > a {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    &:last-child > a {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
    > a {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 65px;
      padding: 0 10px;
      text-align: center;
      overflow: hidden;
      transition: 0.3s;
      font-size: 18px;
      background-color: $white-color;
      border: 1px solid $line-color3;
      color: $gray-color3;
    }
    &.active {
      z-index: 1;
      > a {
        background-color: $lightblue-color2;
        border-color: $lightblue-color2;
        color: $white-color;
      }
    }
    + .tab {
      margin-left: -1px;
    }
  }
  &.ty2 {
    .tab {
      a {
        border-radius: 0;
        width: 240px;
        height: 75px;
        background-color: transparent;
        border: 0 none;
        font-weight: 500;
        color: $white-color;
      }
      &.active {
        a {
          background-color: $darkblue-color;
        }
      }
    }
  }
  &.ty3 {
    .tab {
      > a {
        // height: 66px;
        background-color: $bg-color;
      }
      &.active {
        > a {
          background-color: $white-color;
          border-color: $primary-color;
          color: $primary-color;
          font-weight: bold;
        }
      }
    }
  }
}
.tab-hill-menu {
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $bg-color12;
  }
  &.top-fixed {
    height: 52px;
  }
  .tab {
    width: 100%;
    position: relative;
    text-align: center;
    & > a {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 10px;
      border-radius: 15px 15px 0 0;
      height: 80px;
      text-align: center;
      overflow: hidden;
      transition: 0.3s;
      background-color: $bg-color12;
      color: $white-color;
      font-size: 18px;
      font-weight: bold;
    }
    &:not(.active) {
      a {
        &:hover,
        &:focus {
          background-color: to-dark($bg-color12, 10);
        }
      }
    }
    &.active {
      > a {
        background-color: $tab-fill-active-color;
      }
    }
    + .tab {
      margin-left: 4px;
    }
  }
}

.tab-panels {
  &.transition {
    overflow: hidden;
    transition: height 0.3s ease-out;
  }
}
.tab-panel {
  display: none;
  &.active {
    display: block;
    &.flex {
      display: flex;
    }
  }
}
.tab-swipe-panels {
  .tab-panel {
    display: block;
  }
  .swiper-pagination {
    display: none;
  }
}

.tab-box-menu {
  position: relative;
  .tab-line {
    border: 1px solid $black-color;
    background-color: $white-color;
    border-radius: 4px;
    height: 100%;
    z-index: 1;
  }
  .tab-list {
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border: 1px solid $line-color2;
      border-radius: 4px;
      background-color: $bg-color;
      border-radius: 4px;
    }
  }
  .tab {
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 2;
    & > a {
      position: relative;
      display: block;
      padding: 12px 10px;
      text-align: center;

      font-size: 15px;
      line-height: 24px;
      overflow: hidden;
      transition: color 0.3s;
    }
    &.active > a {
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.tab-line-menu {
  position: relative;
  .tab-line {
    height: 4px;
    background-color: $lightblue-color3;
    &[data-color='1'] {
      background-color: $green-color;
    }
    &[data-color='2'] {
      background-color: $yellow-color;
    }
    &[data-color='3'] {
      background-color: $orange-color;
    }
  }
  .tab-list {
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: auto;
      height: 1px;
      background: $line-color4;
    }
  }
  .tab {
    position: relative;
    text-align: center;
    & > a {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      color: $gray-color5;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      overflow: hidden;
      padding: 0 24px;
      transition: 0.3s;
    }
    &:first-child {
      padding-left: 20px;
    }
    &:last-child {
      padding-right: 20px;
    }
    &.active {
      > a {
        color: $lightblue-color3;
      }
      &[data-color='1'] {
        > a {
          color: $green-color;
        }
      }
      &[data-color='2'] {
        > a {
          color: $yellow-color;
        }
      }
      &[data-color='3'] {
        > a {
          color: $orange-color;
        }
      }
    }
  }
  &.tab-fixed {
    .tab-list {
      padding: 0;
      &:before {
        left: 0;
        right: 0;
      }
    }
  }
  &.ty2 {
    .tab-list:before {
      content: none;
    }
    .tab-line {
      background-color: $primary-color;
    }
    .tab {
      font-weight: 700;
      padding: 0 17px;
      > a {
        height: 52px;
        padding: 0;
        color: $gray-color4;
        font-size: 20px;
        font-weight: 700;
      }
      &.active > a {
        color: $primary-color;
      }
    }
  }
  &.ty3 {
    .tab-list:before {
      content: none;
    }
    .tab-line {
      background-color: $black-color;
    }
    .tab {
      font-weight: 700;
      padding: 0 8px;
      > a {
        height: 52px;
        padding: 0;
        color: $gray-color;
        font-size: 20px;
        font-weight: 700;
      }
      &.active > a {
        color: $black-color;
      }
    }
  }
}

.tab-round-menu {
  .tab-line {
    display: none;
    height: 100%;
    background-color: rgba($primary-color, 0.3);
    border-radius: 18px;
    z-index: 0;
  }
  .tab {
    position: relative;
    + .tab {
      margin-left: 8px;
    }
    & > a {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 36px;
      padding: 0 16px;
      border: 1px solid $line-color;
      background-color: $white-color;
      border-radius: 18px;
      color: $gray-color;
      font-size: 14px;
      font-weight: 500;
      overflow: hidden;
      transition: 0.3s;
    }
    &.active {
      > a {
        border-color: $primary-color;
        color: $primary-color;
      }
    }
  }
}

.tab-txt-menu {
  display: flex;
  flex-wrap: wrap;
  .tab-line {
    display: none;
  }
  .tab {
    position: relative;
    padding-right: 1px;
    margin: 4px 0;
    &:after {
      content: '';
      display: block;
      width: 1px;
      height: 12px;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -6px;
      background-color: $bg-color13;
    }
    &:first-child {
      a {
        padding-left: 0;
      }
    }
    &:last-child {
      &:after {
        content: none;
      }
      a {
        padding-right: 0;
      }
    }
    > a {
      display: block;
      padding: 0 12px;
      font-size: 14px;
      line-height: 20px;
      color: $gray-color;
      white-space: nowrap;
    }
    &.active {
      > a {
        color: $base-txt-color;
      }
    }
  }
}

.spy-scroll {
  position: relative;
  .spy-scroll-navi {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    &.fixed {
      position: fixed;
    }
  }
  .spy-scroll-body {
    position: relative;
  }
}
.tab-btn-menu {
  .tab {
    > a {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $line-color9;
      min-width: 130px;
      padding: 0 15px;
      height: 48px;
      font-size: 16px;
      color: $gray-color;
      transition: 0.3s;
    }
    &:first-child {
      > a {
        border-radius: 5px 0 0 5px;
      }
    }
    &:last-child {
      > a {
        border-radius: 0 5px 5px 0;
      }
    }
    + .tab {
      > a {
        border-left-width: 0;
      }
    }
    &.active {
      > a {
        border-color: $gray-color7;
        background-color: $gray-color7;
        color: $white-color;
        font-weight: bold;
      }
    }
  }
}
