@use 'sass:math';

.textarea {
  position: relative;
  border: 1px solid $input-line-color;
  border-radius: $input-radius;
  transition: border 0.3s;
  overflow: hidden;
  textarea {
    display: block;
    width: 100%;
    background-color: $white-color;
    padding: $textarea-padding;
    line-height: $input-height - ($textarea-padding-y * 2) - 2px;
    font-size: $input-font-size;
    border-radius: $input-radius;
    border: 0 none;
    appearance: none;
    outline: none;
    resize: none;
    &:disabled {
      color: $input-disabled-color;
      background-color: $input-disabled-bg-color;
    }
  }
  &.readonly {
    background-color: $input-disabled-bg-color;
    textarea {
      background-color: $input-disabled-bg-color;
    }
  }
  &.disabled {
    background-color: $input-disabled-bg-color;
    color: $input-disabled-color;
    textarea {
      color: $input-disabled-color;
      background-color: $input-disabled-bg-color;
    }
  }
  &.focus {
    border-color: $primary-color;
  }
  &.txt-count {
    padding-bottom: 42px;
  }
  .inp-txt-count {
    position: absolute;
    right: 20px;
    bottom: 16px;
  }
}
.inp-txt-count {
  font-size: 15px;
  text-align: right;
  white-space: nowrap;
  strong {
    font-weight: normal;
  }
}
.textarea.is-error textarea,
.is-error .textarea textarea {
  border-color: $red-color;
  &:not(:focus) {
    color: $red-color;
  }
}
